$color: #258989;
$background: #E7E7E7;

*, ::before, ::after{
    margin: 0;
    padding: 0;
}  

@media(min-width: 1200px){
    body{
        font-size: 16px;
        font-family: 'Open Sans', sans-serif !important;
        color: $color;
        background-color: $background;
        min-height: 100vh;
    }
    
    a{
        text-decoration: none;
        color: $color;
    }
    
    .presentation{
        text-align: center;
        display: grid;
        place-items: center;
    
        article:nth-of-type(1){
            height: 15rem;
            display: grid;
            grid-template-rows: 1fr 1fr 3fr;
            grid-template-columns: 1fr 3fr 1fr;
            grid-template-areas: "logo . ."
                                 "logo texte1 ."
                                 ". texte2 .";
            place-items: center;
            
            img{
                grid-area: logo;
                padding: 1rem;
            }
    
            h4{
                grid-area: texte1;
                align-self: baseline;
                padding: 1rem;
                font-size: 2rem;
            }
    
            h2{
                grid-area: texte2;
                width: 45vw;
                font-size: 2rem;
            }
        }
    
        article:nth-of-type(2){
            
            padding: 2rem;
    
            h2{
                padding: 1rem;
            }
    
            @for $i from 1 through 100{
                img:nth-of-type(#{$i}){
                    width: 12rem;
                    margin: 1rem;
                    border-radius: 10px 10px 10px 10px;
                    border: solid white .2rem;
    
                    &:hover{
                        transform: scale(1.2);
                        transition: 0.5s;
                    }
                }
            }
        }
    }
    
    .fonctionnement{
        background-color: $color;
        color: $background;
        height: 25rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: .5fr 3fr;
        grid-template-areas: "titre titre titre"
                             "template1 template2 template3";
        place-items: center;
    
        h2{
            grid-area: titre;
            align-self: center;
        }
    
        @for $i from 1 through 3{
            article:nth-of-type(#{$i}){
                height: 15rem;
                width: 25vw;
                grid-area: template + #{$i};
    
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 3fr 1fr;
                grid-template-areas: "titre"
                                     "template"
                                     "text";
                place-items: center;
    
                h4{
                    grid-area: titre;
                    align-self: flex-start;
                }
    
                p{
                    grid-area: text;
                    align-self: flex-end;
                    text-align: center;
                }
    
                img{
                    grid-area: template;
                    align-self: center;
                    height: 7rem;
                }
            }
        }
    }
    
    .info_contact{
    
        article:nth-of-type(1){
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 5rem;
    
            .youtube_video{
                margin: 3rem;
            }
        }
    
        article:nth-of-type(2){
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 3fr;
            grid-template-areas: "titre titre titre titre"
                                 ". info1 info2 .";
            place-items: center;
    
            h2{
                grid-area: titre;
            }
    
            @for $i from 1 through 2{
    
                nav:nth-of-type(#{$i}){
                    height: 100%;
                    grid-area: info + #{$i};
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 3fr 1fr 1fr;
                    grid-template-areas: "logo"
                                         "text1"
                                         "text2";
                    place-items: center;
                    margin: 2rem;
    
                    svg{
                        grid-area: logo;
                        width: 7rem;
                    }
    
                    h4{
                        grid-area: text1;
                        font-size: 30px;
    
                    }
    
                    p{
                        grid-area: text2;
                    }
                }
            }
        }
    }
}

@media(min-width: 751px) and (max-width: 1199px){

    body{
        font-size: 16px;
        font-family: 'Open Sans', sans-serif !important;
        color: $color;
        background-color: $background;
        min-height: 100vh;
    }

    a{
        text-decoration: none;
        color: $color;
    }

    .presentation{
        text-align: center;
        display: grid;
        place-items: center;
    
        article:nth-of-type(1){
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            img{
                padding: 1rem;
            }
    
            h4{
                padding: 1rem;
                font-size: 1.5rem;
            }
    
            h2{
                font-size: 1.5rem;
            }
        }
    
        article:nth-of-type(2){
    
            h2{
                padding: 1rem;
            }
    
            @for $i from 1 through 100{
                img:nth-of-type(#{$i}){
                    width: 12rem;
                    margin: 1rem;
                    border-radius: 10px 10px 10px 10px;
                    border: solid white .2rem;
    
                    &:hover{
                        transform: scale(1.2);
                        transition: 0.5s;
                    }
                }
            }
        }
    }

    .fonctionnement{
        background-color: $color;
        color: $background;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h2{
            margin-top: 1rem;
        }
    
    
        @for $i from 1 through 3{
            article:nth-of-type(#{$i}){
                height: 7rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
    
    
                img{
                    display: none;
                }
            }
        }
    }

    .info_contact{
    
        article:nth-of-type(1){
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 5rem;
    
            .youtube_video{
                width: 90%; 
                margin: 2rem;
            }
        }
    
        article:nth-of-type(2){
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
    
            @for $i from 1 through 2{
    
                nav:nth-of-type(#{$i}){
                    height: 100%;
                    grid-area: info + #{$i};
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 3fr 1fr 1fr;
                    grid-template-areas: "logo"
                                         "text1"
                                         "text2";
                    place-items: center;
                    margin: 2rem;
    
                    svg{
                        grid-area: logo;
                        width: 5rem;
                    }
    
                    h4{
                        grid-area: text1;
                        font-size: 30px;
    
                    }
    
                    p{
                        grid-area: text2;
                    }
                }
            }
        }
    }

}

@media(max-width: 750px){

    body{
        font-size: 16px;
        font-family: 'Open Sans', sans-serif !important;
        color: $color;
        background-color: $background;
        min-height: 100vh;
    }

    a{
        text-decoration: none;
        color: $color;
    }

    .presentation{
        text-align: center;
        display: grid;
        place-items: center;
    
        article:nth-of-type(1){
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            img{
                padding: 1rem;
            }
    
            h4{
                padding: 1rem;
                font-size: 1.5rem;
            }
    
            h2{
                font-size: 1.5rem;
            }
        }
    
        article:nth-of-type(2){
            display: flex;
            flex-direction: column;
            padding: 2rem;
    
            h2{
                padding: 1rem;
            }
    
            @for $i from 1 through 100{
                img:nth-of-type(#{$i}){
                    width: 10rem;
                    margin: 1rem;
                    border-radius: 10px 10px 10px 10px;
                    border: solid white .2rem;
    
                    &:hover{
                        transform: scale(1.2);
                        transition: 0.5s;
                    }
                }
            }
        }
    }

    .fonctionnement{
        background-color: $color;
        color: $background;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h2{
            margin-top: 1rem;
        }
    
    
        @for $i from 1 through 3{
            article:nth-of-type(#{$i}){
                height: 7rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
    
    
                img{
                    display: none;
                }
            }
        }
    }

    .info_contact{
    
        article:nth-of-type(1){
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 5rem;
    
            .youtube_video{
                width: 95vw;
                height: 20rem;
                margin-top: 2rem;
                margin-bottom: 2rem;
            }
        }
    
        article:nth-of-type(2){
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
    
            @for $i from 1 through 2{
    
                nav:nth-of-type(#{$i}){
                    height: 100%;
                    // grid-area: info + #{$i};
                    // display: grid;
                    // grid-template-columns: 1fr;
                    // grid-template-rows: auto auto;
                    // grid-template-areas: "logo"
                    //                      "text1";
                    // place-items: center;
                    margin: 2rem;
    
                    svg{
                        grid-area: logo;
                        width: 5rem;
                    }
    
                    h4{
                        grid-area: text1;
                        font-size: 30px;
    
                    }
                }
            }
        }
    }

}
