*, ::before, ::after {
  margin: 0;
  padding: 0;
}

@media (min-width: 1200px) {
  body {
    font-size: 16px;
    font-family: "Open Sans", sans-serif !important;
    color: #258989;
    background-color: #E7E7E7;
    min-height: 100vh;
  }

  a {
    text-decoration: none;
    color: #258989;
  }

  .presentation {
    text-align: center;
    display: grid;
    place-items: center;
  }
  .presentation article:nth-of-type(1) {
    height: 15rem;
    display: grid;
    grid-template-rows: 1fr 1fr 3fr;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "logo . ." "logo texte1 ." ". texte2 .";
    place-items: center;
  }
  .presentation article:nth-of-type(1) img {
    grid-area: logo;
    padding: 1rem;
  }
  .presentation article:nth-of-type(1) h4 {
    grid-area: texte1;
    align-self: baseline;
    padding: 1rem;
    font-size: 2rem;
  }
  .presentation article:nth-of-type(1) h2 {
    grid-area: texte2;
    width: 45vw;
    font-size: 2rem;
  }
  .presentation article:nth-of-type(2) {
    padding: 2rem;
  }
  .presentation article:nth-of-type(2) h2 {
    padding: 1rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(1) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(1):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(2) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(2):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(3) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(3):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(4) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(4):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(5) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(5):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(6) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(6):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(7) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(7):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(8) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(8):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(9) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(9):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(10) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(10):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(11) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(11):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(12) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(12):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(13) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(13):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(14) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(14):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(15) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(15):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(16) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(16):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(17) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(17):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(18) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(18):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(19) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(19):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(20) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(20):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(21) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(21):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(22) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(22):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(23) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(23):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(24) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(24):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(25) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(25):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(26) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(26):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(27) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(27):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(28) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(28):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(29) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(29):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(30) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(30):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(31) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(31):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(32) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(32):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(33) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(33):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(34) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(34):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(35) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(35):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(36) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(36):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(37) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(37):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(38) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(38):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(39) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(39):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(40) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(40):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(41) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(41):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(42) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(42):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(43) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(43):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(44) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(44):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(45) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(45):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(46) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(46):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(47) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(47):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(48) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(48):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(49) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(49):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(50) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(50):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(51) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(51):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(52) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(52):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(53) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(53):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(54) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(54):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(55) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(55):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(56) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(56):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(57) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(57):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(58) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(58):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(59) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(59):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(60) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(60):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(61) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(61):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(62) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(62):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(63) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(63):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(64) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(64):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(65) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(65):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(66) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(66):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(67) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(67):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(68) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(68):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(69) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(69):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(70) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(70):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(71) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(71):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(72) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(72):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(73) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(73):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(74) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(74):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(75) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(75):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(76) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(76):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(77) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(77):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(78) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(78):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(79) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(79):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(80) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(80):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(81) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(81):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(82) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(82):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(83) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(83):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(84) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(84):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(85) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(85):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(86) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(86):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(87) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(87):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(88) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(88):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(89) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(89):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(90) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(90):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(91) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(91):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(92) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(92):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(93) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(93):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(94) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(94):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(95) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(95):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(96) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(96):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(97) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(97):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(98) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(98):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(99) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(99):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(100) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(100):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }

  .fonctionnement {
    background-color: #258989;
    color: #E7E7E7;
    height: 25rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 3fr;
    grid-template-areas: "titre titre titre" "template1 template2 template3";
    place-items: center;
  }
  .fonctionnement h2 {
    grid-area: titre;
    align-self: center;
  }
  .fonctionnement article:nth-of-type(1) {
    height: 15rem;
    width: 25vw;
    grid-area: template1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: "titre" "template" "text";
    place-items: center;
  }
  .fonctionnement article:nth-of-type(1) h4 {
    grid-area: titre;
    align-self: flex-start;
  }
  .fonctionnement article:nth-of-type(1) p {
    grid-area: text;
    align-self: flex-end;
    text-align: center;
  }
  .fonctionnement article:nth-of-type(1) img {
    grid-area: template;
    align-self: center;
    height: 7rem;
  }
  .fonctionnement article:nth-of-type(2) {
    height: 15rem;
    width: 25vw;
    grid-area: template2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: "titre" "template" "text";
    place-items: center;
  }
  .fonctionnement article:nth-of-type(2) h4 {
    grid-area: titre;
    align-self: flex-start;
  }
  .fonctionnement article:nth-of-type(2) p {
    grid-area: text;
    align-self: flex-end;
    text-align: center;
  }
  .fonctionnement article:nth-of-type(2) img {
    grid-area: template;
    align-self: center;
    height: 7rem;
  }
  .fonctionnement article:nth-of-type(3) {
    height: 15rem;
    width: 25vw;
    grid-area: template3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: "titre" "template" "text";
    place-items: center;
  }
  .fonctionnement article:nth-of-type(3) h4 {
    grid-area: titre;
    align-self: flex-start;
  }
  .fonctionnement article:nth-of-type(3) p {
    grid-area: text;
    align-self: flex-end;
    text-align: center;
  }
  .fonctionnement article:nth-of-type(3) img {
    grid-area: template;
    align-self: center;
    height: 7rem;
  }

  .info_contact article:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
  }
  .info_contact article:nth-of-type(1) .youtube_video {
    margin: 3rem;
  }
  .info_contact article:nth-of-type(2) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: "titre titre titre titre" ". info1 info2 .";
    place-items: center;
  }
  .info_contact article:nth-of-type(2) h2 {
    grid-area: titre;
  }
  .info_contact article:nth-of-type(2) nav:nth-of-type(1) {
    height: 100%;
    grid-area: info1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr 1fr;
    grid-template-areas: "logo" "text1" "text2";
    place-items: center;
    margin: 2rem;
  }
  .info_contact article:nth-of-type(2) nav:nth-of-type(1) svg {
    grid-area: logo;
    width: 7rem;
  }
  .info_contact article:nth-of-type(2) nav:nth-of-type(1) h4 {
    grid-area: text1;
    font-size: 30px;
  }
  .info_contact article:nth-of-type(2) nav:nth-of-type(1) p {
    grid-area: text2;
  }
  .info_contact article:nth-of-type(2) nav:nth-of-type(2) {
    height: 100%;
    grid-area: info2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr 1fr;
    grid-template-areas: "logo" "text1" "text2";
    place-items: center;
    margin: 2rem;
  }
  .info_contact article:nth-of-type(2) nav:nth-of-type(2) svg {
    grid-area: logo;
    width: 7rem;
  }
  .info_contact article:nth-of-type(2) nav:nth-of-type(2) h4 {
    grid-area: text1;
    font-size: 30px;
  }
  .info_contact article:nth-of-type(2) nav:nth-of-type(2) p {
    grid-area: text2;
  }
}
@media (min-width: 751px) and (max-width: 1199px) {
  body {
    font-size: 16px;
    font-family: "Open Sans", sans-serif !important;
    color: #258989;
    background-color: #E7E7E7;
    min-height: 100vh;
  }

  a {
    text-decoration: none;
    color: #258989;
  }

  .presentation {
    text-align: center;
    display: grid;
    place-items: center;
  }
  .presentation article:nth-of-type(1) {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .presentation article:nth-of-type(1) img {
    padding: 1rem;
  }
  .presentation article:nth-of-type(1) h4 {
    padding: 1rem;
    font-size: 1.5rem;
  }
  .presentation article:nth-of-type(1) h2 {
    font-size: 1.5rem;
  }
  .presentation article:nth-of-type(2) h2 {
    padding: 1rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(1) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(1):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(2) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(2):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(3) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(3):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(4) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(4):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(5) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(5):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(6) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(6):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(7) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(7):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(8) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(8):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(9) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(9):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(10) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(10):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(11) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(11):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(12) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(12):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(13) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(13):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(14) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(14):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(15) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(15):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(16) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(16):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(17) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(17):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(18) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(18):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(19) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(19):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(20) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(20):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(21) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(21):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(22) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(22):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(23) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(23):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(24) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(24):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(25) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(25):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(26) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(26):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(27) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(27):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(28) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(28):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(29) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(29):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(30) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(30):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(31) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(31):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(32) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(32):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(33) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(33):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(34) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(34):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(35) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(35):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(36) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(36):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(37) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(37):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(38) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(38):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(39) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(39):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(40) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(40):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(41) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(41):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(42) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(42):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(43) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(43):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(44) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(44):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(45) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(45):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(46) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(46):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(47) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(47):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(48) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(48):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(49) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(49):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(50) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(50):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(51) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(51):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(52) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(52):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(53) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(53):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(54) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(54):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(55) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(55):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(56) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(56):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(57) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(57):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(58) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(58):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(59) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(59):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(60) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(60):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(61) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(61):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(62) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(62):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(63) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(63):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(64) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(64):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(65) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(65):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(66) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(66):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(67) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(67):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(68) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(68):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(69) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(69):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(70) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(70):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(71) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(71):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(72) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(72):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(73) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(73):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(74) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(74):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(75) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(75):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(76) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(76):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(77) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(77):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(78) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(78):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(79) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(79):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(80) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(80):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(81) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(81):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(82) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(82):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(83) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(83):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(84) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(84):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(85) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(85):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(86) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(86):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(87) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(87):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(88) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(88):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(89) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(89):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(90) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(90):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(91) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(91):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(92) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(92):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(93) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(93):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(94) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(94):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(95) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(95):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(96) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(96):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(97) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(97):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(98) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(98):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(99) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(99):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(100) {
    width: 12rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(100):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }

  .fonctionnement {
    background-color: #258989;
    color: #E7E7E7;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .fonctionnement h2 {
    margin-top: 1rem;
  }
  .fonctionnement article:nth-of-type(1) {
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .fonctionnement article:nth-of-type(1) img {
    display: none;
  }
  .fonctionnement article:nth-of-type(2) {
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .fonctionnement article:nth-of-type(2) img {
    display: none;
  }
  .fonctionnement article:nth-of-type(3) {
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .fonctionnement article:nth-of-type(3) img {
    display: none;
  }

  .info_contact article:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
  }
  .info_contact article:nth-of-type(1) .youtube_video {
    width: 90%;
    margin: 2rem;
  }
  .info_contact article:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .info_contact article:nth-of-type(2) nav:nth-of-type(1) {
    height: 100%;
    grid-area: info1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr 1fr;
    grid-template-areas: "logo" "text1" "text2";
    place-items: center;
    margin: 2rem;
  }
  .info_contact article:nth-of-type(2) nav:nth-of-type(1) svg {
    grid-area: logo;
    width: 5rem;
  }
  .info_contact article:nth-of-type(2) nav:nth-of-type(1) h4 {
    grid-area: text1;
    font-size: 30px;
  }
  .info_contact article:nth-of-type(2) nav:nth-of-type(1) p {
    grid-area: text2;
  }
  .info_contact article:nth-of-type(2) nav:nth-of-type(2) {
    height: 100%;
    grid-area: info2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr 1fr;
    grid-template-areas: "logo" "text1" "text2";
    place-items: center;
    margin: 2rem;
  }
  .info_contact article:nth-of-type(2) nav:nth-of-type(2) svg {
    grid-area: logo;
    width: 5rem;
  }
  .info_contact article:nth-of-type(2) nav:nth-of-type(2) h4 {
    grid-area: text1;
    font-size: 30px;
  }
  .info_contact article:nth-of-type(2) nav:nth-of-type(2) p {
    grid-area: text2;
  }
}
@media (max-width: 750px) {
  body {
    font-size: 16px;
    font-family: "Open Sans", sans-serif !important;
    color: #258989;
    background-color: #E7E7E7;
    min-height: 100vh;
  }

  a {
    text-decoration: none;
    color: #258989;
  }

  .presentation {
    text-align: center;
    display: grid;
    place-items: center;
  }
  .presentation article:nth-of-type(1) {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .presentation article:nth-of-type(1) img {
    padding: 1rem;
  }
  .presentation article:nth-of-type(1) h4 {
    padding: 1rem;
    font-size: 1.5rem;
  }
  .presentation article:nth-of-type(1) h2 {
    font-size: 1.5rem;
  }
  .presentation article:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
  .presentation article:nth-of-type(2) h2 {
    padding: 1rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(1) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(1):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(2) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(2):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(3) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(3):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(4) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(4):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(5) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(5):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(6) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(6):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(7) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(7):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(8) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(8):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(9) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(9):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(10) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(10):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(11) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(11):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(12) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(12):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(13) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(13):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(14) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(14):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(15) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(15):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(16) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(16):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(17) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(17):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(18) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(18):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(19) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(19):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(20) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(20):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(21) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(21):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(22) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(22):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(23) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(23):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(24) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(24):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(25) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(25):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(26) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(26):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(27) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(27):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(28) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(28):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(29) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(29):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(30) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(30):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(31) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(31):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(32) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(32):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(33) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(33):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(34) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(34):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(35) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(35):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(36) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(36):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(37) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(37):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(38) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(38):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(39) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(39):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(40) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(40):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(41) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(41):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(42) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(42):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(43) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(43):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(44) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(44):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(45) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(45):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(46) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(46):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(47) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(47):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(48) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(48):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(49) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(49):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(50) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(50):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(51) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(51):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(52) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(52):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(53) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(53):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(54) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(54):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(55) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(55):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(56) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(56):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(57) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(57):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(58) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(58):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(59) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(59):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(60) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(60):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(61) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(61):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(62) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(62):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(63) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(63):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(64) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(64):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(65) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(65):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(66) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(66):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(67) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(67):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(68) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(68):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(69) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(69):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(70) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(70):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(71) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(71):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(72) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(72):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(73) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(73):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(74) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(74):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(75) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(75):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(76) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(76):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(77) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(77):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(78) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(78):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(79) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(79):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(80) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(80):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(81) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(81):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(82) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(82):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(83) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(83):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(84) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(84):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(85) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(85):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(86) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(86):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(87) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(87):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(88) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(88):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(89) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(89):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(90) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(90):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(91) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(91):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(92) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(92):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(93) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(93):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(94) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(94):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(95) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(95):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(96) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(96):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(97) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(97):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(98) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(98):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(99) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(99):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(100) {
    width: 10rem;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: solid white 0.2rem;
  }
  .presentation article:nth-of-type(2) img:nth-of-type(100):hover {
    transform: scale(1.2);
    transition: 0.5s;
  }

  .fonctionnement {
    background-color: #258989;
    color: #E7E7E7;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .fonctionnement h2 {
    margin-top: 1rem;
  }
  .fonctionnement article:nth-of-type(1) {
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .fonctionnement article:nth-of-type(1) img {
    display: none;
  }
  .fonctionnement article:nth-of-type(2) {
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .fonctionnement article:nth-of-type(2) img {
    display: none;
  }
  .fonctionnement article:nth-of-type(3) {
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .fonctionnement article:nth-of-type(3) img {
    display: none;
  }

  .info_contact article:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
  }
  .info_contact article:nth-of-type(1) .youtube_video {
    width: 95vw;
    height: 20rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .info_contact article:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .info_contact article:nth-of-type(2) nav:nth-of-type(1) {
    height: 100%;
    margin: 2rem;
  }
  .info_contact article:nth-of-type(2) nav:nth-of-type(1) svg {
    grid-area: logo;
    width: 5rem;
  }
  .info_contact article:nth-of-type(2) nav:nth-of-type(1) h4 {
    grid-area: text1;
    font-size: 30px;
  }
  .info_contact article:nth-of-type(2) nav:nth-of-type(2) {
    height: 100%;
    margin: 2rem;
  }
  .info_contact article:nth-of-type(2) nav:nth-of-type(2) svg {
    grid-area: logo;
    width: 5rem;
  }
  .info_contact article:nth-of-type(2) nav:nth-of-type(2) h4 {
    grid-area: text1;
    font-size: 30px;
  }
}/*# sourceMappingURL=accueil.css.map */