body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #E7E7E7;
}

main {
    flex-grow: 1;
    justify-content: center;
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

#phrase_1 {
    color: #258989;
    font-weight: normal;
    text-align: center;
}

#phrase_2 {
    color: #258989;
    text-align: center;
}

#vignettes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.vignette {
    width: 25rem;
    background-color: white;
    border-radius: 10px;
    height: 22.8rem;
    margin: 1rem;
}

.img_profil {
    width: 7rem;
    border-radius: 50%;
    margin: 1rem;
}

.haut_vignette {
    display: flex;
    align-items: center;
    border: none;
    background-color: #258989;
    width: 100%;
    height: 7.3rem;
    border-radius: 10px 10px 0 0;
}

.nom_prenom {
    font-size: 1.7rem;
    color: white;
    margin: 0 1rem;
}

.bas_vignette {
    padding: 1rem;
    color: #258989;
    height: 10.5rem;
}

.bouttons {
    padding: 1rem;
}

.ville {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.5rem 0.5rem 1.5rem 0.5rem;
}

li {
    margin-bottom: 1rem;
}

button {
    background: #258988;
    border: 1px solid #258989;
    border-radius: 10px;
    cursor: pointer;
    height: 2.3rem;
    color: white;
    width: 10rem;
}

.bouttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0rem;
}

.hidden_number:hover,
.see_profil:hover {
    color: #258989;
    background-color: white;
}

@media screen and (max-width: 520px) {
    .vignette {
        width: 90%;
        height: auto;
    }

    .nom_prenom {
        width: 100%;
    }

    button {
        width: 9rem;
        margin: 0.5rem;
    }

    .bouttons {
        flex-direction: column;
    }

    .haut_vignette {
        flex-direction: column;
        height: auto;
    }

    .nom_prenom {
        text-align: center;
    }

    .bas_vignette {
        height: auto;
    }
}
