body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 6rem auto;
}

.vignette_ed {
    border: 2px solid #258989;
    margin: 1rem;
    width: 10rem;
    padding: 16px;
    border-radius: 5px;
    max-height: 20rem;
    display: flex;
    flex-direction: column;
}

.nom_ville {
    text-align: center;
    color: #258989;
    font-weight: bold;
    font-size: 1.2rem;
}

.nom_prenom {
    margin-top: 14px;
    text-align: center;
    font-weight: bold;
    font-size: 0.9rem;
}

.telephone {
    text-align: center;
    font-style: italic;
    font-size: 0.9rem;
}

.photo_profil_ed {
    width: 50%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.BTN_profil {
    display: flex;
    margin: 1rem 0 0 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 2px solid #258989;
    border-radius: 5px;
    height: 2.5rem;
    color: white;
    background-color: #258989;
    cursor: pointer;
}

.BTN_profil:hover {
    border: 2px solid #258989;
    color: #258989;
    background-color: white;
    cursor: pointer;
}

.BTN_profil:active {
    border: 2px solid #258989;
    color: white;
    background-color: #258989;
    cursor: pointer;
}