$color: #258989;
$background: #E7E7E7;

body{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif !important;
    color: $color;
    background-color: $background;
    min-height: 100vh;
    max-width: 99vw;
}

.CGU{
    display: flex;
    flex-direction: column;
    align-items: center;

    p{
        text-align: left;
    }

    article{
        width: 80vw;

        h3{
            width: 80vw;
            text-align: left;
            border-bottom: solid $color .1rem;
            padding-bottom: 1rem;
            padding-top: 1rem;
        }

        h4{
            padding: 1rem;
        }

        p{
            padding: 1rem;
        }

        ul, li{
            padding: 1rem;
        }
    }
}

.enTete{
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr  .1fr 1fr;
    grid-template-areas: "cgu"
        
                         "date"
                         "info";
    place-items: center;

    img{
        grid-area: logo;
        align-self: flex-end;
        padding-top: 1rem;
    }

    h1{
        grid-area: cgu;
        font-size: 30px;
        text-align: center;
    }

    h3{
        width: 80vw;
        grid-area: date;
        align-self: flex-end;
        text-align: left;
        border-bottom: solid $color .1rem;
        padding-bottom: 1rem;
    }

    p{
        grid-area: info;
    }
}

.articleDouze{
    padding-bottom: 3rem;
}