body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif !important;
  color: #258989;
  background-color: #E7E7E7;
  min-height: 100vh;
  max-width: 99vw;
}

.CGU {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.CGU p {
  text-align: left;
}
.CGU article {
  width: 80vw;
}
.CGU article h3 {
  width: 80vw;
  text-align: left;
  border-bottom: solid #258989 0.1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.CGU article h4 {
  padding: 1rem;
}
.CGU article p {
  padding: 1rem;
}
.CGU article ul, .CGU article li {
  padding: 1rem;
}

.enTete {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.1fr 1fr;
  grid-template-areas: "cgu" "date" "info";
  place-items: center;
}
.enTete img {
  grid-area: logo;
  align-self: flex-end;
  padding-top: 1rem;
}
.enTete h1 {
  grid-area: cgu;
  font-size: 30px;
  text-align: center;
}
.enTete h3 {
  width: 80vw;
  grid-area: date;
  align-self: flex-end;
  text-align: left;
  border-bottom: solid #258989 0.1rem;
  padding-bottom: 1rem;
}
.enTete p {
  grid-area: info;
}

.articleDouze {
  padding-bottom: 3rem;
}/*# sourceMappingURL=cgu.css.map */