body {
  background-color: #E7E7E7;
  color: #258989;
}

#charte {
  width: 80%;
  margin-left: 10%;
}

h1 {
  text-align: center;
  padding: 1rem;
}

h2 {
  border-bottom: solid #255555 0.1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}/*# sourceMappingURL=charte.css.map */