*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    min-height: 100vh;
}

table{
    margin-top: 5%;
}

td{
    padding: 1rem;
    border-bottom: solid black 0.1rem;
    border-right: solid black 0.1rem;
}

table{
    /* border: solid black; */
    border-spacing: 0;
    width: 100%;
}

tr > th{
    border-right: solid black 0.1rem;
    border-bottom: solid black 0.1rem;
}

tr > th:nth-of-type(2){
    width: 20%;
}

tr > th:last-of-type{
    border-right: solid black;
    width: 15%;
}

tr > th:first-of-type{
    border-left: solid black;
    width: 10%;
}

tr > td:first-of-type{
    border-left: solid black;
    border-right: solid black 0.1rem;
}

tr > td:last-of-type{
    border-right: solid black;
}

tr:first-of-type > th{
    border-top: solid black;
}

tr:last-of-type > td{
    border-bottom: solid black;
}

#recherche{
    margin-top: 5%;
    text-align: center;
    margin-left: 20%;
    width: 20%;
    height: 2rem;
}

#recherche2{
    text-align: center;
    width: 20%;
    height: 2rem;
}