body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #25898905;
}

main {
    display: flex;
    width: 70rem;
    margin: 3.5rem auto 3rem auto;
    height: 33rem;
    border-radius: 5px;
    flex-grow: 1;
}

h2 {
    color: #258989;
}

hr {
    width: 8rem;
    margin-bottom: 1.5rem;
}

.mail1Input,
.mail2Input,
.MDPinput {
    height: 2rem;
    border: 1px solid #C4C4C4;
}

.mail1Input {
    border-bottom: 0;
}

.mainBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.txtBlock,
.checkBox {
    padding: 1.5rem;
    width: 26rem;
    height: 20rem;
}

.picture {
    width: 50%;
}

.picture_IMG {
    width: 100%;
    border-radius: 1.5rem 0px 0px 1.5rem;
}

.BTNinscription:hover {
    cursor: pointer;
    background-color: #258989;
    color: white;
    transition: 0.2s;
}

.BTNinscription {
    border: solid 1px #258989;
    background-color: white;
    color: #258989;
    border-radius: 4px;
    width: 8rem;
    height: 2rem;
    font-size: 1rem;
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 1.4rem;
}

.BTNs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.BTNconnexion:hover {
    cursor: pointer;
    background-color: white;
    color: #258989;
    transition: 0.2s;
}

.BTNconnexion {
    border: solid 1px #258989;
    background-color: #258989;
    color: white;
    border-radius: 4px;
    width: 8rem;
    height: 2rem;
    font-size: 1rem;
}

.dialogueCheckFalse {
    background-color: rgb(240, 11, 11);
    height: 1.2rem;
    position: fixed;
    text-align: center;
    width: 100%;
    color: white;
    font-weight: bold;
    top: 11%;
    display: none;
}

.formInput {
    padding-left: 3.5rem;
    padding-right: 2rem;
}

.logoProfil_1,
.logoProfil_2 {
    position: absolute;
    width: 1.6rem;
    margin-top: 0.3rem;
    margin-left: 0.75rem;
}

.show_password,
.show_password_2 {
    position: absolute;
    width: 1.6rem;
    border: solid 1px transparent;
    border-radius: 14px;
    margin-left: -2rem;
    margin-top: 0.25rem;
}

.show_password:hover,
.show_password_2:hover {
    cursor: pointer;
}

.BTNs {
    margin-top: 1rem;
}

.LINKmdpOublie {
    color: #258989;
    font-size: 0.8rem;
    text-decoration: none;
}

.LINKmdpOublie:hover {
    text-decoration: underline;
}

.titreDroit {
    margin-top: 0;
}

main {
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.mainBlock {
    flex-direction: column-reverse;
    display: flex;
    width: 20rem;
    align-items: center;
}

.txtBlock {
    margin: auto;
    width: 20rem;
    padding: 1rem 0rem 0rem 0rem;
}

#emptyMail,
#emptyPassword,
#empty,
#notFound,
#sessionerror {
    border: 2px solid #258989;
    height: 2.5rem;
    border-radius: 5px;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #e2a9a9;
}

#emptyMail:target,
#emptyPassword:target,
#empty:target,
#notFound:target,
#sessionerror:target {
    display: flex;
}