body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    color: #258989;
}

.blocTOUT {
    display: flex;
    justify-content: center;
}

.blocGauche {
    width: 46rem;
}

.nom,
.mail {
    margin-right: 2rem;
}

.formInput {
    margin-top: 0.5rem;
    width: 20rem;
    border: 1px solid #258989;
    height: 1.8rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.messageInput {
    height: 15rem;
    margin-top: 0.5rem;
    resize: none;
    border-radius: 5px;
    text-align: justify;
    padding-top: 0.5rem;
    width: 96%;
}

.BTNdonnees {
    width: 100.8%;
    border: 1px solid #258989;
    height: 2.5rem;
    border-radius: 5px;
    display: flex;
    font-size: 1rem;
    align-items: center;
    margin: auto auto 2rem auto;
    justify-content: center;
    color: #258989;
    font-weight: bold;
    background-color: white;
}

.BTNdonnees:hover {
    cursor: pointer;
    background-color: #258989;
    color: white;
    transition: 0.13s;
}

.BTNcontactForm {
    color: white;
    background: #258989;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    width: 100.8%;
    border: 1px solid #258989;
    height: 2.5rem;
    border-radius: 5px;
}

.BTNcontactForm:hover {
    color: #258989;
    background: white;
    transition: 0.13s;
    border: 1px solid #258989;
    cursor: pointer;
}

#blocTitreGauche {
    color: #258989;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.7rem;
    font-weight: bold;
    width: 100.8%;
}

.swal-modal {
    width: 80%;
}

#blocTit#Ec1d1droit {
    margin-bottom: 2.4rem;
}

.formFlex {
    display: flex;
    flex-direction: row;
}

.formInput2 {
    border: 1px solid #258989;
    border-radius: 5px;
    width: 6.9rem;
}

.formInput1 {
    margin-right: 1rem;
    width: 10rem;
}

.dialogueCheckFalse {
    background-color: rgb(240, 11, 11);
    height: 1.2rem;
    width: 100%;
    color: white;
    font-weight: bold;
    top: 8.5%;
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
}

.dialogueCheckTrue {
    background-color: rgb(121, 206, 82);
    height: 1.2rem;
    width: 100%;
    color: white;
    font-weight: bold;
    top: 8.5%;
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
}

#globalErreur {
    display: none;
    text-align: center;
    color: #Ec1d1d;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: #Ec1d1d solid .2rem;
}

#globalOK {
    display: none;
    text-align: center;
    color: green;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: green solid .2rem;
}

.emptyTxt {
    display: none;
    margin: 0;
    margin-bottom: 1rem;
    color: #EC1D1D;
  }

#Conditionerreur, #Messageerreur{
    display: none;
}

#Conditionerreur:target, #Messageerreur:target{
    display: block;
    text-align: center;
    color: #Ec1d1d;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: #Ec1d1d solid .2rem;
}

@media screen and (max-width: 870px) {
    #blocTitreGauche {
        width: 100%;
        text-align: center;
        margin: 2.5rem auto 2rem auto;
    }
    .formInput {
        width: 20rem;
    }
    .blocTOUT {
        flex-direction: column;
        align-items: center;
    }
    .formFlex {
        flex-direction: column;
        width: 354px;
    }
    .message {
        width: 350px;
    }
    .formBlocGauche {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .BTNcontactForm {
        margin-bottom: 2rem;
        width: 22.1rem;
    }
    .BTNdonnees {
        width: 100%;
    }
    .blocGauche {
        width: 26rem;
    }
    .checkBox,
    .BTNdonnees {
        width: 22.1rem;
    }
}

@media screen and (max-width: 440px) {
    .blocGauche {
        width: 100%;
    }
    #blocTitreGauche,
    .formBlocGauche {
        width: 99%;
    }
    #blocTitreGauche {
        font-size: 2rem;
        text-align: center;
        margin-top: 2.5rem;
    }
}