.alert_mdp {
    display: none;
}

#accord_pas_ok,
#champs_vide,
#champs_differents,
#nombre_carac_8,
#erreur_id_token,
#no_match
 {
    border: 2px solid #258989;
    height: 3rem;
    border-radius: 5px;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #e2a9a9;
}

#accord_pas_ok:target,
#champs_vide:target,
#champs_differents:target,
#nombre_carac_8:target,
#erreur_id_token:target,
#no_match:target
 {
    display: flex;
}

#erreur {
    border: 2px solid #258989;
    height: 3rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e2a9a9;
}