body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

#PP {
    width: 12%;
    border-radius: 50%;
}

#nom_prenom {
    font-weight: bold;
    font-size: 1.3rem;
    margin-left: 2rem;
}

#block_image {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    justify-content: center;
}

#top {
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #25898959;
    width: 100%;
    margin: 2rem 0;
    flex-wrap: wrap;
    border-radius: 5px;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#btn_section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem 1rem;
}

.btn {
    display: flex;
    margin: 0.5rem 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 2px solid #258989;
    border-radius: 5px;
    height: 2.5rem;
    width: 13rem;
    color: white;
    background-color: #258989;
    cursor: pointer;
}

.btn:hover {
    border: 2px solid #258989;
    color: #258989;
    background-color: white;
    cursor: pointer;
}

.btn:active {
    border: 2px solid #258989;
    color: white;
    background-color: #258989;
    cursor: pointer;
}

#content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.7rem;
}

#content_table {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
}

.header {
    background-color: #258989;
    height: 2.5rem;
    color: white;
    font-weight: normal;
    border-radius: 5px;
}

#nom_docu {
    min-width: 11rem;
}

#content_form {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 31rem;
    margin: 1rem 0;
}

.input_password {
    border: 1px solid #258989;
    border-radius: 5px;
    padding: 0 0.5rem;
    height: 2.2rem;
    width: 50%;
}

tr {
    height: 2.2rem;
    text-align: center;
}

td {
    padding: 0 1rem;
    margin: 0;
    border-right: 1px solid #258989;
    border-left: 1px solid #258989;
    border-bottom: 1px solid #258989;
}

#date {
    width: 10rem;
}

#dl {
    width: 8rem;
}

#titre {
    font-size: 1.1rem;
    color: #258989;
    text-decoration: underline;
}

.btn_password {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 2px solid #258989;
    border-radius: 5px;
    height: 2.2rem;
    width: 13.65rem;
    color: white;
    background-color: #258989;
    cursor: pointer;
}

.btn_password:hover {
    border: 2px solid #258989;
    color: #258989;
    background-color: white;
    cursor: pointer;
}

.btn_password:active {
    border: 2px solid #258989;
    color: white;
    background-color: #258989;
    cursor: pointer;
}

#btn_block {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

#alert_password {
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: normal;
    margin-top: 0;
    height: 2rem;
    width: 100%;
    flex-wrap: wrap;
    border-radius: 5px;
}

@media screen and (max-width: 950px) {
    #block_image {
        flex-direction: column;
    }

    #nom_prenom {
        margin: 0;
    }

    #PP {
        width: 7rem;
        margin-bottom: 0.5rem;
    }


}

@media screen and (max-width: 650px) {

    #date, 
    .date_row {
        display: none;
    }

    #titre {
        text-align: center;
    }

    .input_block {
        flex-direction: column;
    }

    #p_submit {
        width: 45%;
        text-align: center;
    }

    #alert_password {
        width: 17rem;
        text-align: center;
        height: auto;
    }

}
