@media (min-width: 1000px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 8rem 4rem auto;
    grid-template-areas: "titre titre" "titre1 titre2" "contenu contenu";
    place-items: center;
    font-size: 16px;
    font-family: "Open Sans", sans-serif !important;
    color: #258989;
    background-color: #E7E7E7;
    min-height: 100vh;
    max-width: 100vw;
    text-align: center;
    margin: 0;
  }

  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    grid-area: titre;
    background-color: white;
    width: 100%;
    height: 100%;
  }

  #BtnClient {
    grid-area: titre1;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background-color: #E7E7E7;
    color: #258989;
    font-size: 21px;
    font-weight: bold;
  }

  #BtnEd {
    grid-area: titre2;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background-color: white;
    color: #258989;
    font-size: 21px;
    font-weight: bold;
  }

  .collapsible {
    background-color: #258989;
    color: #E7E7E7;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    width: 100%;
  }

  .active, .collapsible:hover {
    background-color: #256b6b;
  }

  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #E7E7E7;
    color: #258989;
  }

  #client {
    grid-area: contenu;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
  }
  #client article {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 80%;
  }
  #client article aside {
    text-align: left;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    font-size: 13px;
    padding: 1rem;
  }

  #intervenantEd {
    grid-area: contenu;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  #intervenantEd article {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 80%;
  }
  #intervenantEd article aside {
    text-align: left;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    font-size: 13px;
    padding: 1rem;
  }
}
@media (min-width: 650px) and (max-width: 1000px) {
  body {
    font-size: 16px;
    font-family: "Open Sans", sans-serif !important;
    color: #258989;
    background-color: #E7E7E7;
    min-height: 100vh;
    max-width: 100vw;
    text-align: center;
    margin: 0;
  }

  .collapsible {
    background-color: #258989;
    color: #E7E7E7;
    cursor: pointer;
    width: 100%;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .active, .collapsible:hover {
    background-color: #256b6b;
  }

  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #E7E7E7;
    color: #258989;
  }

  #client {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: " titre bouton1" " . bouton2" " . bouton3" " . bouton4" " . bouton5";
    align-items: center;
    text-align: left;
    margin: 1rem;
  }
  #client h2 {
    grid-area: titre;
    margin: 0;
  }
  #client article:nth-of-type(1) {
    margin-bottom: 0.5rem;
    grid-area: bouton1;
  }
  #client article:nth-of-type(2) {
    margin-bottom: 0.5rem;
    grid-area: bouton2;
  }
  #client article:nth-of-type(3) {
    margin-bottom: 0.5rem;
    grid-area: bouton3;
  }
  #client article:nth-of-type(4) {
    margin-bottom: 0.5rem;
    grid-area: bouton4;
  }
  #client article:nth-of-type(5) {
    margin-bottom: 0.5rem;
    grid-area: bouton5;
  }

  #intervenantEd {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: " titre bouton1" " . bouton2" " . bouton3" " . bouton4" " . bouton5" " . bouton6" " . bouton7" " . bouton8" " . bouton9" " . bouton10" " . bouton11";
    align-items: center;
    text-align: left;
    margin: 1rem;
  }
  #intervenantEd h2 {
    grid-area: titre;
    margin: 0;
  }
  #intervenantEd article:nth-of-type(1) {
    margin-bottom: 0.5rem;
    grid-area: bouton1;
  }
  #intervenantEd article:nth-of-type(2) {
    margin-bottom: 0.5rem;
    grid-area: bouton2;
  }
  #intervenantEd article:nth-of-type(3) {
    margin-bottom: 0.5rem;
    grid-area: bouton3;
  }
  #intervenantEd article:nth-of-type(4) {
    margin-bottom: 0.5rem;
    grid-area: bouton4;
  }
  #intervenantEd article:nth-of-type(5) {
    margin-bottom: 0.5rem;
    grid-area: bouton5;
  }
  #intervenantEd article:nth-of-type(6) {
    margin-bottom: 0.5rem;
    grid-area: bouton6;
  }
  #intervenantEd article:nth-of-type(7) {
    margin-bottom: 0.5rem;
    grid-area: bouton7;
  }
  #intervenantEd article:nth-of-type(8) {
    margin-bottom: 0.5rem;
    grid-area: bouton8;
  }
  #intervenantEd article:nth-of-type(9) {
    margin-bottom: 0.5rem;
    grid-area: bouton9;
  }
  #intervenantEd article:nth-of-type(10) {
    margin-bottom: 0.5rem;
    grid-area: bouton10;
  }
  #intervenantEd article:nth-of-type(11) {
    margin-bottom: 0.5rem;
    grid-area: bouton11;
  }
}
@media (max-width: 650px) {
  body {
    font-size: 16px;
    font-family: "Open Sans", sans-serif !important;
    color: #258989;
    background-color: #E7E7E7;
    min-height: 100vh;
    max-width: 100vw;
    text-align: center;
    margin: 0;
  }

  .collapsible {
    background-color: #258989;
    color: #E7E7E7;
    cursor: pointer;
    width: 100%;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .active, .collapsible:hover {
    background-color: #256b6b;
  }

  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #E7E7E7;
    color: #258989;
  }

  #client {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas: "titre" "bouton1" "bouton2" "bouton3" "bouton4" "bouton5";
    align-items: center;
    text-align: left;
    margin: 1rem;
  }
  #client h2 {
    grid-area: titre;
    margin: 0;
  }
  #client article:nth-of-type(1) {
    margin-bottom: 0.5rem;
    grid-area: bouton1;
  }
  #client article:nth-of-type(2) {
    margin-bottom: 0.5rem;
    grid-area: bouton2;
  }
  #client article:nth-of-type(3) {
    margin-bottom: 0.5rem;
    grid-area: bouton3;
  }
  #client article:nth-of-type(4) {
    margin-bottom: 0.5rem;
    grid-area: bouton4;
  }
  #client article:nth-of-type(5) {
    margin-bottom: 0.5rem;
    grid-area: bouton5;
  }

  #intervenantEd {
    text-align: left;
    margin: 1rem;
  }
  #intervenantEd h2 {
    grid-area: titre;
    margin: 0;
  }
  #intervenantEd article:nth-of-type(1) {
    margin-bottom: 0.5rem;
    grid-area: bouton1;
  }
  #intervenantEd article:nth-of-type(2) {
    margin-bottom: 0.5rem;
    grid-area: bouton2;
  }
  #intervenantEd article:nth-of-type(3) {
    margin-bottom: 0.5rem;
    grid-area: bouton3;
  }
  #intervenantEd article:nth-of-type(4) {
    margin-bottom: 0.5rem;
    grid-area: bouton4;
  }
  #intervenantEd article:nth-of-type(5) {
    margin-bottom: 0.5rem;
    grid-area: bouton5;
  }
  #intervenantEd article:nth-of-type(6) {
    margin-bottom: 0.5rem;
    grid-area: bouton6;
  }
  #intervenantEd article:nth-of-type(7) {
    margin-bottom: 0.5rem;
    grid-area: bouton7;
  }
  #intervenantEd article:nth-of-type(8) {
    margin-bottom: 0.5rem;
    grid-area: bouton8;
  }
  #intervenantEd article:nth-of-type(9) {
    margin-bottom: 0.5rem;
    grid-area: bouton9;
  }
  #intervenantEd article:nth-of-type(10) {
    margin-bottom: 0.5rem;
    grid-area: bouton10;
  }
  #intervenantEd article:nth-of-type(11) {
    margin-bottom: 0.5rem;
    grid-area: bouton11;
  }
}/*# sourceMappingURL=faq.css.map */