$color: #258989;
$backgroundDarker: #256b6b;
$background: #E7E7E7;


@media (min-width: 1000px){

    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 8rem 4rem auto;
        grid-template-areas: "titre titre"
                             "titre1 titre2"
                             "contenu contenu";
        place-items: center;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif !important;
        color: $color;
        background-color: $background;
        min-height: 100vh;
        max-width: 100vw;
        text-align: center;
        margin: 0;
    }

    h1{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        grid-area: titre;
        background-color: white;
        width: 100%;
        height: 100%;
    }

    #BtnClient{
        grid-area: titre1;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        border: none;
        background-color: $background;
        color: $color;
        font-size: 21px;
        font-weight: bold;
    }

    #BtnEd{
        grid-area: titre2;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        border: none;
        background-color: white;
        color: $color;
        font-size: 21px;
        font-weight: bold;
    }
    
    .collapsible {
        background-color: $color;
        color: $background;
        cursor: pointer;
        padding: 18px;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        width: 100%;   
    }
      
    .active, .collapsible:hover {
        background-color: $backgroundDarker;
    }
      
    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: $background;
        color: $color;
    }
    
    #client{
        grid-area: contenu;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        
        article{
            padding-top: 1rem;
            padding-bottom: 1rem;
            width: 80%;
            aside{
                text-align: left;
                margin: 0;
                padding: 0;
                background-color: white;
                color: black;
                font-size: 13px;
                padding: 1rem;
            }
        }
    }
    
    #intervenantEd{
        grid-area: contenu;
        flex-direction: column;
        width: 100%; 
        height: 100%;  
        align-items: center;
        
        article{
            padding-top: 1rem;
            padding-bottom: 1rem;
            width: 80%;

            aside{
                text-align: left;
                margin: 0;
                padding: 0;
                background-color: white;
                color: black;
                font-size: 13px;
                padding: 1rem;
            }
        }
    }
}

@media (min-width: 650px) and (max-width: 1000px){
    body{
        font-size: 16px;
        font-family: 'Open Sans', sans-serif !important;
        color: $color;
        background-color: $background;
        min-height: 100vh;
        max-width: 100vw;
        text-align: center;
        margin: 0;
    }
    
    .collapsible {
        background-color: $color;
        color: $background;
        cursor: pointer;
        width: 100%;
        padding: 18px;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }
      
    .active, .collapsible:hover {
        background-color: $backgroundDarker;
    }
      
    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: $background;
        color: $color;
    }
    
    #client{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas: " titre bouton1"
                            " . bouton2"
                            " . bouton3"
                            " . bouton4"
                            " . bouton5";
        align-items: center;
        text-align: left;
        margin: 1rem;
    
        h2{
            grid-area: titre;
            margin: 0;
        }    
    
        @for $i from 1 to 6{
    
            article:nth-of-type(#{$i}){
                margin-bottom: .5rem;
                grid-area: bouton + #{$i};
            }
        }
    }
    
    #intervenantEd{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas: " titre bouton1"
                             " . bouton2"
                             " . bouton3"
                             " . bouton4"
                             " . bouton5"
                             " . bouton6"
                             " . bouton7"
                             " . bouton8"
                             " . bouton9"
                             " . bouton10"
                             " . bouton11";
        align-items: center;
        text-align: left;
        margin: 1rem;
    
        h2{
            grid-area: titre;
            margin: 0;
        }    
    
        @for $i from 1 to 12{
    
            article:nth-of-type(#{$i}){
                margin-bottom: .5rem;
                grid-area: bouton + #{$i};
            }
        }
    }
}

@media (max-width: 650px){
    body{
        font-size: 16px;
        font-family: 'Open Sans', sans-serif !important;
        color: $color;
        background-color: $background;
        min-height: 100vh;
        max-width: 100vw;
        text-align: center;
        margin: 0;
    }
    
    .collapsible {
        background-color: $color;
        color: $background;
        cursor: pointer;
        width: 100%;
        padding: 18px;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }
      
    .active, .collapsible:hover {
        background-color: $backgroundDarker;
    }
      
    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: $background;
        color: $color;
    }
    
    #client{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-areas: "titre"
                             "bouton1"
                             "bouton2"
                             "bouton3"
                             "bouton4"
                             "bouton5";
        align-items: center;
        text-align: left;
        margin: 1rem;
    
        h2{
            grid-area: titre;
            margin: 0;
        }    
    
        @for $i from 1 to 6{
    
            article:nth-of-type(#{$i}){
                margin-bottom: .5rem;
                grid-area: bouton + #{$i};
            }
        }
    }
    
    #intervenantEd{
        // display: grid;
        // grid-template-columns: 1fr;
        // grid-template-rows: auto auto auto auto auto auto;
        // grid-template-areas: "titre"
        //                      "bouton1"
        //                      "bouton2"
        //                      "bouton3"
        //                      "bouton4"
        //                      "bouton5"
        //                      "bouton6"
        //                      "bouton7"
        //                      "bouton8"
        //                      "bouton9"
        //                      "bouton10"
        //                      "bouton11";
        // align-items: center;
        text-align: left;
        margin: 1rem;
    
        h2{
            grid-area: titre;
            margin: 0;
        }    
    
        @for $i from 1 to 12{
    
            article:nth-of-type(#{$i}){
                margin-bottom: .5rem;
                grid-area: bouton + #{$i};
            }
        }
    }
}