@charset "UTF-8";

body {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif !important;
  background-color: unset !important;
  min-height: 100vh;
  max-width: 100vw;
  margin: 0;
  color: #353535;
}

main {
  min-height: 100%;
  width: 100%;
  background-color: white;
}

.banniere {
  position: relative;
  width: 100%;
  height: 12rem;
  background: #D9E3E3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.droite {
  text-transform: uppercase;
  font-weight: 700;
}

.pp {
  position: relative;
  width: 14rem;
  height: 14rem;
  left: 4rem;
  top: -7rem;
  border-radius: 50%;
}

.test {
  position: relative;
  width: 78%;
  height: 41px;
  left: 21%;
  top: -14rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.infos {
  position: relative;
  left: 5%;
  margin-right: 0;
  width: 15rem;
  display: inline;
}

.NomPrenom {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 0;
  width: 15rem;
}

.num {
  margin-top: 0;
}

.btns {
  width: 30rem;
  height: 5rem;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #258988;
  border: 1px solid #258989;
  border-radius: 0.3rem;
  cursor: pointer;
  height: 2.5rem;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 1rem;
}

.btn:first-child {
  width: 11rem;
}

.btn:last-child {
  margin: 1rem;
  width: 16rem;
}

.btn i {
  margin-right: 1rem;
}

.btnNum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #258988;
  margin-top: 0.5rem;
  width: 11rem;
  background-color: #258989;
  border-radius: 0.3rem;
  border: 0;
  color: white;
  padding: 0.5rem;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  text-transform: uppercase;
}

.btnNum p {
  margin: 0;
  font-size: medium;
}

.categories {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: -8rem;
}

.categories h2, .categories p {
  margin-left: 1.2rem;
}

.gauche {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gauche:after {
  content: "";
  background-color: #258989;
  position: absolute;
  bottom: 15%;
  left: 50%;
  height: 70%;
  width: 1px;
}

.petitBlocs {
  width: 75%;
  height: auto;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.9rem;
  border: 1px solid #258989;
}

.gauche ul {
  margin-left: 1rem;
  margin-right: 1rem;
}

.Droite {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grosBloc {
  width: 75%;
  height: auto;
  padding: 1rem;
  border-radius: 0.9rem;
  border: 1px solid #258989;
}

.grosBloc li {
  margin-bottom: 0.5rem;
  font-weight: 500;
  width: 100%
}

.h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.fa-caret-down {
  visibility: hidden;
}

h2 {
  text-transform: uppercase;
  color: #258989;
  font-size: 1.5rem;
}

h3, h4 {
  color: #258989;
  margin-left: 2.5rem;
}

h4:first-child {
  margin-top: 0;
}

.Droite ul {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  width: 70%;
}

li {
  margin-bottom: 0.5rem;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 1rem;
  border: 1px solid #888;
  width: 65%;
  /* Could be more or less, depending on screen size */
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.5rem;
}

.h4Mod {
  width: 50%;
  text-transform: uppercase;
  margin-left: 0;
  text-align: center;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

.topMod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 16rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.gaucheMod {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.droiteMod {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.inputMod {
  border: none;
  border-bottom: 1px solid #35353550;
  text-transform: uppercase;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 80%;
}

.inputMod:first-child, .incorrect:first-child {
  margin-top: 0;
}

.inputMod:last-child, .incorrect:last-child {
  margin-bottom: 2.6rem;
}

.inputMod::-webkit-input-placeholder, .incorrect::-webkit-input-placeholder {
  color: #353535;
  opacity: 70%;
}

.inputMod:-ms-input-placeholder, .incorrect:-ms-input-placeholder {
  color: #353535;
  opacity: 70%;
}

.inputMod::-ms-input-placeholder, .incorrect::-ms-input-placeholder {
  color: #353535;
  opacity: 70%;
}

.inputMod::placeholder, .incorrect::placeholder {
  color: #353535;
  opacity: 70%;
}

.inputMod:focus, .incorrect:focus {
  outline: none;
  border-bottom: 3px solid #258989;
}

.imgMod {
  width: 8rem;
  position: relative;
  right: 14%;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.messageModA {
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid #35353550;
  margin-bottom: 1rem;
}

#messageModA:focus {
  outline: none;
  border: 3px solid #258989;
}

.txtMod {
  color: #353535;
  font-size: 13px;
  margin-top: 2rem;
  text-transform: uppercase;
  font-weight: 500;
}

input[type=checkbox] {
  margin-right: 0.5rem;
}

.labelMod {
  display: inline-block;
  color: #35353599;
  width: 93%;
}

#envoiMod {
  cursor: pointer;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  width: 11rem;
  background-color: #258989;
  border-radius: 0.3rem;
  border: 0;
  color: white;
  padding: 0.5rem;
  text-transform: uppercase;
}

/* The Close Button */
.close, .close2 {
  color: #258989;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  right: 45%;
}

.close:hover,
.close:focus,
.close2:hover,
.close2:focus {
  color: #EC1D1D;
  text-decoration: none;
  cursor: pointer;
}

/*fenetre modal check */
.modal2 {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal-content2 {
  background-color: white;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 1rem;
  border: 1px solid #888;
  width: 40%;
  /* Could be more or less, depending on screen size */
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.4rem;
  height: 20%;
}

.checkMark {
  font-size: 2rem;
  color: #258989;
}

.h4Conf {
  width: 70%;
  text-align: center;
  text-transform: uppercase;
  color: #353535;
}

.emptyTxt {
  display: none;
  margin: 0;
  color: #EC1D1D;
}

.incorrect {
  margin-bottom: 0.5rem;
  border: none;
  border-bottom: 1px solid #EC1D1D;
  text-transform: uppercase;
  margin-top: 1.5rem;
  width: 80%;
}

.incorrectMessage {
  border: 1px solid #EC1D1D;
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

/* btn recommander */
.none {
  display: none !important;
}

/*COMMENTAIRE*/
.commentaireEd{
  max-width: 100%;
  display: grid;
  place-items: center;
  box-sizing: border-box;
}

.commentaireEd > article{
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 1rem 1rem 1rem 1rem;
  padding: 1rem;
  margin-top: 2rem;
  border: 1px solid #258989;
}

.commentaireEd > article > div > img {
  height: 3rem;
}

.commentaireEd > article > div{
  min-height: 7rem;
}

.commentaireEd > article > div:first-of-type{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 1rem;
  width: 20%;
}

.commentaireEd > article > div:first-of-type > b{
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.commentaireEd > article > div:last-of-type{
  display: grid;
  grid-template-rows: 2rem auto;
  width: 80%;
  border-left: solid 1px #258989;
}

.commentaireEd > article > div:last-of-type > p{
  padding: 1rem 1rem 1rem 2rem;
  text-align: justify;
  margin: 0;
  font-size: small;
}

.commentaireEd > article > div:last-of-type > i{
  margin-left: 1rem;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.commentaireEd > article > div:last-of-type > h3{
  justify-self: center;
  align-self: center;
  margin: 0;
  color: unset;
}

@media screen and (max-width: 1180px) {

  #header {
    margin-bottom: 7.5rem
  }

  .fa-caret-down {
    visibility: visible;
    margin-right: 2rem;
    font-size: 2rem;
    color: #258989;
  }
  .txt {
    display: none;
  }
  .hid {
    display: none;
  }
  .pp {
    position: relative;
    width: 10rem;
    height: 10rem;
    left: 4rem;
    top: -11rem;
    border-radius: 50%;
  }
  .droite {
    position: absolute;
    top: -5.5rem;
    z-index: 2;
    font-size: 1.5rem;
  }
  .test {
    position: relative;
    width: 78%;
    height: 41px;
    left: 21%;
    top: -14rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .infos {
    position: relative;
    left: 25%;
    top: -6rem;
    margin-right: 0;
    width: 25rem;
    display: inline;
  }
  .NomPrenom {
    font-weight: 700;
    font-size: 2rem;
    width: 25rem;
    letter-spacing: 2px;
  }
  .num {
    font-size: 1.5rem;
  }
  .btns {
    position: relative;
    top: -2rem;
  }
  .categories {
    top: -5.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gauche::after {
    display: none;
  }
  /*fenêtre modale détails*/
  .Mod {
    display: none;
  }
  .close {
    font-size: 28px;
    font-weight: bold;
    position: relative;
    right: 45%;
  }
  .h4Mod {
    width: 70%;
  }
}

@media screen and (max-width: 680px) {
  
  .fa-caret-down {
    visibility: visible;
    margin-right: 2rem;
    font-size: 2rem;
    color: #258989;
  }
  .droite {
    position: absolute;
    top: -5.5rem;
    z-index: 2;
    font-size: 1.5rem;
  }
  .txt {
    display: none;
  }
  .hid {
    display: none;
  }
  .pp {
    position: relative;
    width: 30%;
    height: 30%;
    left: 0;
    top: -11rem;
    border-radius: 50%;
  }
  .test {
    position: relative;
    width: 78%;
    height: 41px;
    left: 21%;
    top: -14rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
  }
  .infos {
    position: relative;
    left: 25%;
    top: -5rem;
    margin-right: 0;
    width: 75%;
    display: inline;
  }
  .NomPrenom {
    font-weight: 700;
    font-size: x-large;
    width: 100%;
    letter-spacing: 2px;
  }
  .num {
    margin-top: 0.5rem;
    font-size: large;
  }
  .btns {
    position: relative;
    top: 0rem;
    left: -3rem;
    width: 100%;
  }
  .btn:last-child {
    margin-left: 1rem;
  }
  .btnTxt {
    font-size: small;
  }
  .categories {
    top: -5.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gauche::after {
    display: none;
  }
  h2 {
    font-size: large;
  }
  .Droite ul {
    margin-left: 0;
  }
  .modal-content {
    width: 90%;
  }
  .h4Mod {
    width: 85%;
  }
  .close {
    right: 5%;
  }
  .topMod {
    width: 100%;
  }
  .imgMod {
    display: none;
  }
  .labelMod {
    width: 85%;
  }
  /*fenetre modal check */
  .modal-content2 {
    margin: 40% auto;
    /* centered */
    width: 50%;
    height: 15%;
  }
  .h4Conf {
    width: 70%;
    text-align: center;
    text-transform: uppercase;
    color: #353535;
    margin-left: 1rem;
  }
}

@media (max-width: 450px) {
  .droite {
    position: absolute;
    top: -5.5rem;
    z-index: 2;
    font-size: 1.5rem;
  }
  .pp {
    position: relative;
    width: 40%;
    height: 40%;
    left: 0;
    top: -10rem;
    border-radius: 50%;
  }
  .test {
    position: relative;
    width: 78%;
    height: 41px;
    left: 21%;
    top: -13rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
  }
  .grosBloc {
  width: 80%;
  height: auto;
  background-color: white;
  padding: 1rem;
  border-radius: 0.9rem;
}
  .btns {
    position: relative;
    top: 4rem;
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  @supports (flex-wrap: wrap) {
    .btns {
      top: -1rem;
      left: -2rem;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .btn:first-child {
      width: 12rem;
    }
    .btn:last-child {
      width: 12rem;
    }
    .categories {
      top: -1.5rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .petitBlocs {
      width: 80%;
    }
    .fa-caret-down {
      margin-left: 1rem;
    }
  }
  h2 {
    font-size: medium;
    margin-right: 0;
  }
  /** fenetre modale*/
  .modal-content {
    width: 90%;
  }
  .h4Mod {
    width: 85%;
  }
  .imgMod {
    display: none;
  }
  .topMod {
    width: 100%;
  }
  .close {
    right: 5%;
  }
  /*fenetre modal check */
  .modal-content2 {
    margin: 50% auto;
    /* centered */
    width: 70%;
    height: 15%;
  }
  .h4Conf {
    width: 70%;
    text-align: center;
    text-transform: uppercase;
    color: #353535;
    margin-left: 0.5rem;
  }

  .commentaireEd{
    max-width: 100%;
    display: grid;
    place-items: center;
    box-sizing: border-box;
  }
  
  .commentaireEd > article{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 1rem 1rem 1rem 1rem;
    padding: .5rem;
    margin-top: 2rem;
    font-size: small;
  }
  
  .commentaireEd > article > div > img {
    height: 3rem;
  }
  
  .commentaireEd > article > div{
    min-height: 7rem;
  }
  
  .commentaireEd > article > div:first-of-type{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    min-height: 4rem;
  }
  
  .commentaireEd > article > div:first-of-type > b{
    margin-block-start: 1em;
    margin-block-end: 1em;
  }
  
  .commentaireEd > article > div:last-of-type{
    display: grid;
    grid-template-rows: 2rem 2rem auto;
    width: 100%;
    background-color:#f2f2f2;
    border-radius: 1rem 1rem 1rem 1rem;
  }
  
  .commentaireEd > article > div:last-of-type > p{
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: justify;
  }
  
  .commentaireEd > article > div:last-of-type > i{
    margin-left: 1rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
  }
  
  .commentaireEd > article > div:last-of-type > h3{
    justify-self: center;
    margin-left: 0;
  }
}
/*# sourceMappingURL=fiche_ed_az.css.map */