body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 80%;
}

#haut {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 123%;
    margin: 2rem 0;
    padding: 2rem 1rem;
    background-color: #2589893a;
}

#milieu {
    display: flex;
    width: 30rem;
    align-items: center;
    justify-content: center;
}

#PP {
    width: 25%;
    border-radius: 50%;
    margin-right: 1.5rem;
}

#categories_full {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 76%;
    justify-content: center;
    align-items: center;
}

#btn_haut {
    display: flex;
    align-items: center;
    justify-content: center;
}

hr {
    width: 100%;
    margin: 3rem 0 2rem 0;
}

.categorie {
    width: 40%;
    margin: 0.5rem 2rem;
    display: flex;
    flex-direction: column;
}

#top_categorie,
#bottom_categorie {
    display: flex;
    width: 100%;
    margin: 0 2rem;
}

button {
    display: flex;
    margin: 1rem 0 0 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 2px solid #258989;
    border-radius: 5px;
    height: 1.5rem;
    color: white;
    background-color: #258989;
    cursor: pointer;
}

button:hover {
    border: 2px solid #258989;
    color: #258989;
    background-color: white;
    cursor: pointer;
}

button:active {
    border: 2px solid #258989;
    color: white;
    background-color: #258989;
    cursor: pointer;
}

textarea {
    resize: none;
    width: 100%;
    border-radius: 5px;
    padding-left: 0.5rem;
}

#btn_mail {
    height: 2rem;
    width: 10rem;
}

#btn_retour {
    height: 1.8rem;
    width: 7rem;
}

.italic {
    font-style: italic;
    font-weight: bold;
    font-size: 1.2rem;
}

#update_connaitre,
#update_j_aime,
#update_informations {
    width: 10rem;
}

#alert {
    height: 2rem;
    width: 70%;
    margin-bottom: 2.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #25898934;
    display: none;
}

h3 {
    margin: 0.3rem 0;
    color: #258989;
    font-weight: normal;
}

h4, ul {
    margin: 0.9rem 0 0 0;
}

li {
    color: #258989;
    font-size: 0.92rem;
}


#aime textarea {
    height: 2rem;
}

.titre_categorie {
    margin-top: 1rem;
}

.commentaireEd{
    width: 99vw;
    display: grid;
    place-items: center;
    box-sizing: border-box;
  }
  
  .commentaireEd > article{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 1rem 1rem 1rem 1rem;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 2rem;
    font-size: small;
  }
  
  .commentaireEd > article > div > img {
    height: 3rem;
  }
  
  .commentaireEd > article > div{
    min-height: 10rem;
  }
  
  .commentaireEd > article > div:first-of-type{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 20%;
  }
  
  .commentaireEd > article > div:first-of-type > b{
    margin-block-start: 1em;
    margin-block-end: 1em;
  }

  .commentaireEd > article > div:first-of-type > button{
    justify-self: center;
    margin: 1rem 1rem 1rem 0;
  }
  
  .commentaireEd > article > div:last-of-type{
    display: grid;
    grid-template-rows: 3rem 3rem auto;
    width: 80%;
    background-color:#f2f2f2;
    border-radius: 1rem 1rem 1rem 1rem;
  }
  
  .commentaireEd > article > div:last-of-type > p{
    width: 95%;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: justify;
  }
  
  .commentaireEd > article > div:last-of-type > i{
    margin-left: 1rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
  }
  
  .commentaireEd > article > div:last-of-type > h3{
    justify-self: center;
    margin-left: 0;
  }