body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
}

#haut {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 2rem 0;
    padding: 2rem 0rem;
    background-color: #2589893a;
}

#milieu {
    display: flex;
    width: 30rem;
    align-items: center;
    justify-content: center;
}

#PP {
    width: 25%;
    border-radius: 50%;
    margin-right: 1.5rem;
}

#droite {
    font-size: 1.2rem;
    font-weight: bold;
}

#categories_full {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 76%;
    justify-content: center;
    align-items: center;
}

#btn_haut {
    display: flex;
    align-items: center;
    justify-content: center;
}

hr {
    width: 50%;
    margin: 3rem 0 2rem 0;
}

.categorie {
    width: 40%;
    margin: 0.5rem 2rem;
    display: flex;
    flex-direction: column;
}

#top_categorie,
#bottom_categorie {
    display: flex;
    width: 50rem;
    margin: 0 2rem;
}


button {
    display: flex;
    margin: 1rem 0 0 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 2px solid #258989;
    border-radius: 5px;
    height: 1.5rem;
    color: white;
    background-color: #258989;
    cursor: pointer;
}

#competences {
    width: 35rem;
}

#connaitre {
    width: 100%;
}

button:hover {
    border: 2px solid #258989;
    color: #258989;
    background-color: white;
    cursor: pointer;
}

button:active {
    border: 2px solid #258989;
    color: white;
    background-color: #258989;
    cursor: pointer;
}

textarea {
    resize: none;
    width: 100%;
    border-radius: 5px;
    padding-left: 0.5rem;
}

#btn_mail {
    height: 2rem;
    width: 10rem;
}

#btn_retour {
    height: 1.8rem;
    width: 7rem;
}

.italic {
    font-style: italic;
    font-weight: bold;
    font-size: 1.2rem;
}

#update_connaitre,
#update_j_aime,
#update_informations {
    width: 10rem;
}

#alert {
    height: 2rem;
    width: 70%;
    margin-bottom: 2.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #25898934;
    display: none;
}

h3 {
    margin: 0.3rem 0;
    color: #258989;
    font-weight: normal;
}

h4, ul {
    margin: 0.9rem 0 0 0;
}

li {
    color: #258989;
    font-size: 0.92rem;
}

.info_complementaire{
    font-size: 15px;
}

#aime textarea {
    height: 2rem;
}

.titre_categorie {
    margin-top: 1rem;
}

.formBlocGauche {
    width: 100%;
}

#blocTitreGauche {
    font-size: 2rem;
    margin-bottom: 0;
}

#contact_ed {
    animation-duration: 2s;
    animation-name: easebottom;
    border: 3px solid #258989;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 5%;
    padding: 2rem;
    border-radius: 5px;
    height: 45rem;
    width: 46rem;
    display: none;
    padding-bottom: 2rem;
    z-index: 3;
    background-color: #d8d8d8;
}

#Fermer {
    position: absolute;
    right: 16px;
    top: 13px;
    cursor: pointer;
}

@keyframes easebottom{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@media screen and (max-width: 870px) {
    #contact_ed {
        width: 85%;
        height: 65rem;
        position: absolute;
    }
}

@media screen and (max-width: 510px) {
    #Fermer {
        right: 45%;
        top: 70px;
    }

    #contact_ed {
        width: 80%;
    }
}
