@media (min-width: 1177px) {
  footer {
    position: relative;
    font-size: 16px !important;
    height: 13rem;
    margin-top: 4rem;
  }

  .titre_mobile {
    display: none;
  }

  #mobile {
    display: none;
  }

  footer .sectionFooter {
    width: 100%;
    background-color: #258989;
    position: absolute;
    top: 0%;
    z-index: 1;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 6rem 3rem 3rem 3rem;
    grid-template-areas: "logo ligne1 . " " logo ligne2 . " " . ligne3 . " " . ligne4 . ";
  }
  footer .sectionFooter img {
    grid-area: logo;
    width: 5rem;
    height: 5rem;
    margin: 2rem;
  }
  footer .sectionFooter nav:nth-of-type(1) {
    grid-area: ligne1;
  }
  footer .sectionFooter nav:nth-of-type(1) a {
    padding: 0 1rem;
  }
  footer .sectionFooter nav:nth-of-type(2) {
    grid-area: ligne2;
  }
  footer .sectionFooter nav:nth-of-type(2) a {
    padding: 0 1rem;
  }
  footer .sectionFooter nav:nth-of-type(3) {
    grid-area: ligne3;
  }
  footer .sectionFooter nav:nth-of-type(3) a {
    padding: 0 1rem;
  }
  footer .sectionFooter nav:nth-of-type(3) a:nth-of-type(1) {
    border-right: solid white 0.1rem;
  }
  footer .sectionFooter nav:nth-of-type(3) a:nth-of-type(2) {
    border-right: solid white 0.1rem;
  }
  footer .sectionFooter nav:nth-of-type(3) a:nth-of-type(3) {
    border-right: solid white 0.1rem;
  }
  footer .sectionFooter nav:nth-of-type(3) a:nth-of-type(4) {
    border-right: solid white 0.1rem;
  }
  footer .sectionFooter nav:nth-of-type(4) {
    grid-area: ligne4;
    color: white;
    width: 100%;
    display: grid;
    place-items: center;
    text-align: center;
  }
  footer .sectionFooter #NousTrouver {
    cursor: pointer;
  }

  footer aside {
    display: none;
  }

  footer .Animate {
    width: 80%;
    height: 13rem;
    background-color: #258989;
    border-left: solid #30B1B1 0.4rem;
    position: absolute;
    top: 0%;
    z-index: 2;
    padding: 1rem;
    margin-left: 15%;
    justify-content: space-around;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-name: easeIn;
            animation-name: easeIn;
  }
  footer .Animate section {
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 40%;
    padding-right: 1rem;
  }
  footer .Animate section h3, footer .Animate section p {
    color: white;
    margin: 1rem;
  }
  footer .Animate svg:nth-of-type(1) {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
  }
  footer .Animate svg:nth-of-type(2) {
    height: 14rem;
  }
  @-webkit-keyframes easeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes easeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  footer .AnimateClose {
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-name: easeOut;
            animation-name: easeOut;
    width: 80%;
    height: 13rem;
    background-color: #258989;
    border-left: solid #30B1B1 0.4rem;
    position: absolute;
    top: 0%;
    z-index: 2;
    padding: 1rem;
    margin-left: 15%;
    justify-content: space-around;
  }
  @-webkit-keyframes easeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes easeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  footer .AnimateClose section {
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 40%;
    padding-right: 1rem;
  }
  footer .AnimateClose section h3, footer .AnimateClose section p {
    color: white;
    margin: 1rem;
  }
  footer .AnimateClose svg:nth-of-type(1) {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
  }
  footer .AnimateClose svg:nth-of-type(2) {
    height: 14rem;
  }
}
@media (min-width: 841px) and (max-width: 1176px) {
  footer {
    position: relative;
    font-size: 16px !important;
    height: 13rem;
    margin-top: 4rem;
  }

  .titre_mobile {
    display: none;
  }

  #mobile {
    display: none;
  }

  footer .sectionFooter {
    width: 100%;
    background-color: #258989;
    position: absolute;
    top: 0%;
    z-index: 1;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 6rem 3rem 3rem 3rem;
    grid-template-areas: "logo ligne1 . " " ligne2 ligne2 ligne2 " " ligne3 ligne3 ligne3 " " . ligne4 . ";
  }
  footer .sectionFooter img {
    grid-area: logo;
    display: none;
  }
  footer .sectionFooter nav:nth-of-type(1) {
    grid-area: ligne1;
  }
  footer .sectionFooter nav:nth-of-type(1) a {
    padding: 0 1rem;
  }
  footer .sectionFooter nav:nth-of-type(2) {
    grid-area: ligne2;
  }
  footer .sectionFooter nav:nth-of-type(2) a {
    padding: 0 1rem;
  }
  footer .sectionFooter nav:nth-of-type(3) {
    grid-area: ligne3;
  }
  footer .sectionFooter nav:nth-of-type(3) a {
    padding: 0 1rem;
  }
  footer .sectionFooter nav:nth-of-type(3) a:nth-of-type(1) {
    border-right: solid white 0.1rem;
  }
  footer .sectionFooter nav:nth-of-type(3) a:nth-of-type(2) {
    border-right: solid white 0.1rem;
  }
  footer .sectionFooter nav:nth-of-type(3) a:nth-of-type(3) {
    border-right: solid white 0.1rem;
  }
  footer .sectionFooter nav:nth-of-type(3) a:nth-of-type(4) {
    border-right: solid white 0.1rem;
  }
  footer .sectionFooter nav:nth-of-type(4) {
    grid-area: ligne4;
    color: white;
    width: 100%;
    display: grid;
    place-items: center;
    text-align: center;
  }
  footer .sectionFooter #NousTrouver {
    cursor: pointer;
  }

  footer aside {
    display: none;
  }

  footer .Animate {
    width: 80%;
    height: 13rem;
    background-color: #258989;
    border-left: solid #30B1B1 0.4rem;
    position: absolute;
    top: 0%;
    z-index: 2;
    padding: 1rem;
    margin-left: 15%;
    justify-content: space-around;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-name: easeIn;
            animation-name: easeIn;
  }
  footer .Animate section {
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 40%;
    padding-right: 1rem;
  }
  footer .Animate section h3, footer .Animate section p {
    color: white;
    margin: 1rem;
  }
  footer .Animate svg:nth-of-type(1) {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
  }
  footer .Animate svg:nth-of-type(2) {
    height: 14rem;
  }
  @-webkit-keyframes easeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes easeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  footer .AnimateClose {
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-name: easeOut;
            animation-name: easeOut;
    width: 80%;
    height: 13rem;
    background-color: #258989;
    border-left: solid #30B1B1 0.4rem;
    position: absolute;
    top: 0%;
    z-index: 2;
    padding: 1rem;
    margin-left: 15%;
    justify-content: space-around;
  }
  @-webkit-keyframes easeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes easeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  footer .AnimateClose section {
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 40%;
    padding-right: 1rem;
  }
  footer .AnimateClose section h3, footer .AnimateClose section p {
    color: white;
    margin: 1rem;
  }
  footer .AnimateClose svg:nth-of-type(1) {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
  }
  footer .AnimateClose svg:nth-of-type(2) {
    height: 14rem;
  }
}
@media (max-width: 840px) {
  footer {
    position: relative;
    font-size: 16px !important;
    margin-top: 4rem;
    background-color: #258989;
    z-index: 6;
  }

  t {
    font-size: 12px;
  }

  .toggleFooter {
    display: grid !important;
    place-items: center;
  }

  footer #mobile {
    position: relative;
    height: 5rem;
    background-color: #258989;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  footer #mobile img {
    width: 3rem;
    height: 3rem;
    margin: 1rem;
  }
  footer #mobile p {
    font-size: 25px;
    color: #E7E7E7;
  }
  footer #mobile svg {
    margin: 1rem;
  }

  footer .sectionFooter {
    display: none;
    width: 100%;
    height: 80vh;
    background-color: #258989;
    z-index: 0;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr 0.5fr 0.5fr;
    grid-template-areas: "ligne2" "ligne3" "ligne1" "ligne4";
  }
  footer .sectionFooter img {
    display: none;
  }
  footer .sectionFooter nav:nth-of-type(1) {
    grid-area: ligne1;
    height: 100%;
  }
  footer .sectionFooter nav:nth-of-type(2) {
    grid-area: ligne2;
    height: 100%;
  }
  footer .sectionFooter nav:nth-of-type(3) {
    grid-area: ligne3;
    height: 100%;
  }
  footer .sectionFooter nav:nth-of-type(4) {
    grid-area: ligne4;
    height: 100%;
  }
  footer .sectionFooter nav:nth-of-type(3) {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr auto auto auto auto auto auto;
    grid-template-areas: "titre" "logo2" "logo1" "logo5" "logo3" "logo4" ".";
    place-items: center;
  }
  footer .sectionFooter nav:nth-of-type(3) a:nth-of-type(1) {
    text-align: center;
    width: 100%;
    grid-area: logo1;
  }
  footer .sectionFooter nav:nth-of-type(3) a:nth-of-type(2) {
    text-align: center;
    width: 100%;
    grid-area: logo2;
  }
  footer .sectionFooter nav:nth-of-type(3) a:nth-of-type(3) {
    text-align: center;
    width: 100%;
    grid-area: logo3;
  }
  footer .sectionFooter nav:nth-of-type(3) a:nth-of-type(4) {
    text-align: center;
    width: 100%;
    grid-area: logo4;
  }
  footer .sectionFooter nav:nth-of-type(3) a:nth-of-type(5) {
    text-align: center;
    width: 100%;
    grid-area: logo5;
  }
  footer .sectionFooter nav:nth-of-type(3) .titre_mobile {
    grid-area: titre;
    color: #E7E7E7;
    font-size: 19px;
    align-self: flex-end;
    padding: 0;
  }
  footer .sectionFooter nav:nth-of-type(1) {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  footer .sectionFooter nav:nth-of-type(1) a:nth-of-type(1) {
    text-align: center;
    margin: 0.5rem;
  }
  footer .sectionFooter nav:nth-of-type(1) a:nth-of-type(1) svg {
    width: 40px;
    height: 40px;
  }
  footer .sectionFooter nav:nth-of-type(1) a:nth-of-type(2) {
    text-align: center;
    margin: 0.5rem;
  }
  footer .sectionFooter nav:nth-of-type(1) a:nth-of-type(2) svg {
    width: 40px;
    height: 40px;
  }
  footer .sectionFooter nav:nth-of-type(1) a:nth-of-type(3) {
    text-align: center;
    margin: 0.5rem;
  }
  footer .sectionFooter nav:nth-of-type(1) a:nth-of-type(3) svg {
    width: 40px;
    height: 40px;
  }
  footer .sectionFooter nav:nth-of-type(1) a:nth-of-type(4) {
    text-align: center;
    margin: 0.5rem;
  }
  footer .sectionFooter nav:nth-of-type(1) a:nth-of-type(4) svg {
    width: 40px;
    height: 40px;
  }
  footer .sectionFooter nav:nth-of-type(1) a:nth-of-type(5) {
    text-align: center;
    margin: 0.5rem;
  }
  footer .sectionFooter nav:nth-of-type(1) a:nth-of-type(5) svg {
    width: 40px;
    height: 40px;
  }
  footer .sectionFooter nav:nth-of-type(2) {
    height: 100%;
    width: 100%;
    font-size: 13px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr auto auto auto auto auto;
    grid-template-areas: "titre" "logo1" "logo3" "logo4" "logo2" ".";
    place-items: center;
    border-top: solid #E7E7E7 0.1rem;
    box-sizing: border-box;
  }
  footer .sectionFooter nav:nth-of-type(2) a:nth-of-type(1) {
    text-align: center;
    width: 100%;
    grid-area: logo1;
  }
  footer .sectionFooter nav:nth-of-type(2) a:nth-of-type(2) {
    text-align: center;
    width: 100%;
    grid-area: logo2;
  }
  footer .sectionFooter nav:nth-of-type(2) a:nth-of-type(3) {
    text-align: center;
    width: 100%;
    grid-area: logo3;
  }
  footer .sectionFooter nav:nth-of-type(2) a:nth-of-type(4) {
    text-align: center;
    width: 100%;
    grid-area: logo4;
  }
  footer .sectionFooter nav:nth-of-type(2) .titre_mobile {
    grid-area: titre;
    color: #E7E7E7;
    font-size: 19px;
    align-self: flex-end;
    padding: 0;
  }
  footer .sectionFooter nav:nth-of-type(4) {
    color: white;
    width: 100%;
    display: grid;
    place-items: center;
    text-align: center;
    border-top: solid #E7E7E7 0.1rem;
    box-sizing: border-box;
    margin: 0.5rem;
  }
  footer .sectionFooter #NousTrouver {
    cursor: pointer;
  }

  footer aside {
    display: none;
  }

  footer .Animate {
    box-sizing: border-box;
    width: 100%;
    height: 19rem;
    background-color: #258989;
    border: solid #30B1B1 0.2rem;
    position: absolute;
    bottom: 0%;
    z-index: 1;
    margin-left: 0;
    justify-content: space-around;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-name: easeIn;
            animation-name: easeIn;
  }
  footer .Animate section {
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 40%;
  }
  footer .Animate section h3, footer .Animate section p {
    color: white;
    margin: 1rem;
    font-size: 16px;
  }
  footer .Animate svg:nth-of-type(1) {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
  }
  footer .Animate svg:nth-of-type(2) {
    display: none;
  }
  @-webkit-keyframes easeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes easeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  footer .AnimateClose {
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-name: easeOut;
            animation-name: easeOut;
    box-sizing: border-box;
    width: 100%;
    height: 19rem;
    background-color: #258989;
    border: solid #30B1B1 0.2rem;
    position: absolute;
    bottom: 0%;
    z-index: 2;
    padding: 1rem;
    margin-left: 0%;
    justify-content: space-around;
  }
  @-webkit-keyframes easeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes easeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  footer .AnimateClose section {
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 40%;
  }
  footer .AnimateClose section h3, footer .AnimateClose section p {
    color: white;
    margin: 1rem;
    font-size: 16px;
  }
  footer .AnimateClose svg:nth-of-type(1) {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
  }
  footer .AnimateClose svg:nth-of-type(2) {
    display: none;
  }
}/*# sourceMappingURL=footer.css.map */