// DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP

@media (min-width: 1177px) {
    footer{
        position: relative;
        font-size: 16px !important;
        height: 13rem;
        margin-top: 4rem;
    }

    .titre_mobile{
        display: none; 
    }

    #mobile{
        display: none;
    }

    footer .sectionFooter{
        width: 100%;
        background-color: #258989;

        position: absolute;
        top: 0%;
        z-index: 1;

        display: grid;
        place-items: center;
        grid-template-columns: 1fr 5fr 1fr;
        grid-template-rows: 6rem 3rem 3rem 3rem;
        grid-template-areas: "logo ligne1 . "
                            " logo ligne2 . "
                            " . ligne3 . "
                            " . ligne4 . ";

        img{
            grid-area: logo;
            width: 5rem;
            height: 5rem;
            margin: 2rem;
        }

        nav{
            @for $i from 1 through 3{
                &:nth-of-type(#{$i}){
                    grid-area: ligne + #{$i};
                    
                    a{
                        padding: 0 1rem;
                    }
                }
            }

            &:nth-of-type(3){
                @for $i from 1 to 5{
                    a:nth-of-type(#{$i}){
                        border-right: solid white 0.1rem;
                    }
                }
            }
        }

        nav:nth-of-type(4){
            grid-area: ligne4;
            color: white;
            width: 100%;
            display: grid;
            place-items: center;
            text-align: center;
        }

        #NousTrouver{
            cursor: pointer;
        }
    }

    footer aside{
        display: none;
    }

    footer .Animate{
        width: 80%;
        height: 13rem;
        background-color: #258989;
        border-left: solid #30B1B1 0.4rem;
        
        position: absolute;
        top: 0%;
        z-index: 2;
        
        padding: 1rem;
        margin-left: 15%;

        justify-content: space-around;

        section{
            width: 20rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            line-height: 40%;
            padding-right: 1rem;

            h3, p{
                color: white;
                margin: 1rem;
        
            }
        }

        svg{
            &:nth-of-type(1){
                cursor: pointer;
                position: absolute;
                top : 0;
                left : 0;
                padding: 1rem;
            }

            &:nth-of-type(2){
                height: 14rem;
            }
        }

        animation-duration: 1s;
        animation-name: easeIn;
        
        @keyframes easeIn{
            0%{
                opacity: 0;
            }
        
            100%{
                opacity: 1;
            }
        }
    }

    footer .AnimateClose{

        animation-duration: 1s;
        animation-name: easeOut;
        
        @keyframes easeOut{
            0%{
                opacity: 1;
            }

            100%{
                opacity: 0;
            }
        }

        width: 80%;
        height: 13rem;
        background-color: #258989;
        border-left: solid #30B1B1 0.4rem;
        
        position: absolute;
        top: 0%;
        z-index: 2;
        
        padding: 1rem;
        margin-left: 15%;

        justify-content: space-around;

        section{
            width: 20rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            line-height: 40%;
            padding-right: 1rem;

            h3, p{
                color: white;
                margin: 1rem;

        
            }
        }

        svg{
            &:nth-of-type(1){
                cursor: pointer;
                position: absolute;
                top : 0;
                left : 0;
                padding: 1rem;
            }

            &:nth-of-type(2){
                height: 14rem;
            }
        }
    }
}

// TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE

@media (min-width: 841px) and (max-width: 1176px) {
    footer{
        position: relative;
        font-size: 16px !important;
        height: 13rem;
        margin-top: 4rem;
    }

    .titre_mobile{
        display: none;
    }

    #mobile{
        display: none;
    }

    footer .sectionFooter{
        width: 100%;
        background-color: #258989;

        position: absolute;
        top: 0%;
        z-index: 1;

        display: grid;
        place-items: center;
        grid-template-columns: 1fr 5fr 1fr;
        grid-template-rows: 6rem 3rem 3rem 3rem;
        grid-template-areas: "logo ligne1 . "
                            " ligne2 ligne2 ligne2 "
                            " ligne3 ligne3 ligne3 "
                            " . ligne4 . ";

        img{
            grid-area: logo;
            display: none;
        }

        nav{
            @for $i from 1 through 3{
                &:nth-of-type(#{$i}){
                    grid-area: ligne + #{$i};
                    
                    a{
                        padding: 0 1rem;
                    }
                }
            }

            &:nth-of-type(3){
                @for $i from 1 to 5{
                    a:nth-of-type(#{$i}){
                        border-right: solid white 0.1rem;
                    }
                }
            }
        }

        nav:nth-of-type(4){
            grid-area: ligne4;
            color: white;
            width: 100%;
            display: grid;
            place-items: center;
            text-align: center;
        }

        #NousTrouver{
            cursor: pointer;
        }
    }

    footer aside{
        display: none;
    }

    footer .Animate{
        width: 80%;
        height: 13rem;
        background-color: #258989;
        border-left: solid #30B1B1 0.4rem;
        
        position: absolute;
        top: 0%;
        z-index: 2;
        
        padding: 1rem;
        margin-left: 15%;

        justify-content: space-around;

        section{
            width: 20rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            line-height: 40%;
            padding-right: 1rem;

            h3, p{
                color: white;
                margin: 1rem;
        
            }
        }

        svg{
            &:nth-of-type(1){
                cursor: pointer;
                position: absolute;
                top : 0;
                left : 0;
                padding: 1rem;
            }

            &:nth-of-type(2){
                height: 14rem;
            }
        }

        animation-duration: 1s;
        animation-name: easeIn;
        
        @keyframes easeIn{
            0%{
                opacity: 0;
            }
        
            100%{
                opacity: 1;
            }
        }
    }

    footer .AnimateClose{

        animation-duration: 1s;
        animation-name: easeOut;
        
        @keyframes easeOut{
            0%{
                opacity: 1;
            }

            100%{
                opacity: 0;
            }
        }

        width: 80%;
        height: 13rem;
        background-color: #258989;
        border-left: solid #30B1B1 0.4rem;
        
        position: absolute;
        top: 0%;
        z-index: 2;
        
        padding: 1rem;
        margin-left: 15%;

        justify-content: space-around;

        section{
            width: 20rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            line-height: 40%;
            padding-right: 1rem;

            h3, p{
                color: white;
                margin: 1rem;

        
            }
        }

        svg{
            &:nth-of-type(1){
                cursor: pointer;
                position: absolute;
                top : 0;
                left : 0;
                padding: 1rem;
            }

            &:nth-of-type(2){
                height: 14rem;
            }
        }
    }
}

@media (max-width: 840px){ // à partir d'ici
    footer{
        position: relative;
        font-size: 16px !important;
        margin-top: 4rem;
        background-color: #258989;
        z-index: 6;
    }

    t{
        font-size: 12px;
    }

    .toggleFooter{
        display: grid !important;
        place-items: center;
    }

    footer #mobile{
        position: relative;
        height: 5rem;
        background-color: #258989;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        img{
            width: 3rem;
            height: 3rem;
            margin: 1rem;
        }

        p{
            font-size: 25px;
            color: #E7E7E7;
        }

        svg{
            margin: 1rem;
        }
    }

    footer .sectionFooter{
        display: none;
        width: 100%;
        height: 80vh;
        background-color: #258989;

        z-index: 0;

        place-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 2fr .5fr .5fr;
        grid-template-areas: "ligne2"
                             "ligne3"
                             "ligne1"
                             "ligne4";

        img{
            display: none;
        }

        nav{
            @for $i from 1 through 4{
                &:nth-of-type(#{$i}){
                    grid-area: ligne + #{$i};
                    height: 100%;
                }
            }

            &:nth-of-type(3){
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: .4fr auto auto auto auto auto auto;
                grid-template-areas: "titre"
                                     "logo2"
                                     "logo1"
                                     "logo5"
                                     "logo3"
                                     "logo4"
                                     ".";
                place-items: center;

                @for $i from 1 to 6{
                    a:nth-of-type(#{$i}){
                        text-align: center;
                        width: 100%;
                        grid-area: logo + #{$i};
                    }
                }

                .titre_mobile{
                    grid-area: titre;
                    color: #E7E7E7;
                    font-size: 19px;
                    align-self: flex-end;
                    padding: 0;
                }
            }

            &:nth-of-type(1){
                width: 100%;
                display: flex;
                justify-content: center;

                @for $i from 1 to 6{
                    a:nth-of-type(#{$i}){
                        text-align: center;
                        margin: .5rem;

                        svg{
                            width: 40px;
                            height: 40px;
                        }
                    }
                }
            }

            &:nth-of-type(2){
                height: 100%;
                width: 100%;
                font-size: 13px;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: .4fr auto auto auto auto auto;
                grid-template-areas: "titre"
                                     "logo1"
                                     "logo3"
                                     "logo4"
                                     "logo2"
                                     ".";
                place-items: center;
                border-top: solid #E7E7E7 .1rem;
                box-sizing: border-box;

                @for $i from 1 to 5{
                    a:nth-of-type(#{$i}){
                        text-align: center;
                        width: 100%;
                        grid-area: logo + #{$i};
                    }
                }

                .titre_mobile{
                    grid-area: titre;
                    color: #E7E7E7;
                    font-size: 19px;
                    align-self: flex-end;
                    padding: 0;
                }
            }
        }

        nav:nth-of-type(4){
            color: white;
            width: 100%;
            display: grid;
            place-items: center;
            text-align: center;
            border-top: solid #E7E7E7 .1rem;
            box-sizing: border-box;
            margin: .5rem;
        }

        #NousTrouver{
            cursor: pointer;
        }
    }

    footer aside{
        display: none;
    }

    footer .Animate{
        box-sizing: border-box;
        width: 100%;
        height: 19rem;
        background-color: #258989;
        border: solid #30B1B1 .2rem;
        
        position: absolute;
        bottom: 0%;
        z-index: 1;
        
        margin-left: 0;

        justify-content: space-around;

        section{
            width: 20rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            line-height: 40%;

            h3, p{
                color: white;
                margin: 1rem;
                font-size: 16px;
        
            }
        }

        svg{
            &:nth-of-type(1){
                cursor: pointer;
                position: absolute;
                top : 0;
                left : 0;
                padding: 1rem;
            }

            &:nth-of-type(2){
                display: none;
            }
        }

        animation-duration: 1s;
        animation-name: easeIn;
        
        @keyframes easeIn{
            0%{
                opacity: 0;
            }
        
            100%{
                opacity: 1;
            }
        }
    }

    footer .AnimateClose{

        animation-duration: 1s;
        animation-name: easeOut;
        
        @keyframes easeOut{
            0%{
                opacity: 1;
            }

            100%{
                opacity: 0;
            }
        }

        box-sizing: border-box;
        width: 100%;
        height: 19rem;
        background-color: #258989;
        border: solid #30B1B1 0.2rem;
        
        position: absolute;
        bottom: 0%;
        z-index: 2;
        
        padding: 1rem;
        margin-left: 0%;

        justify-content: space-around;

        section{
            width: 20rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            line-height: 40%;

            h3, p{
                color: white;
                margin: 1rem;
                font-size: 16px;        
            }
        }

        svg{
            &:nth-of-type(1){
                cursor: pointer;
                position: absolute;
                top : 0;
                left : 0;
                padding: 1rem;
            }

            &:nth-of-type(2){
                display: none;
            }
        }
    }
}