body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

#global {
    max-width: 100%;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.ville_button {
    margin: 1rem 1rem;
}

.btn_ville {
    display: flex;
    margin: 1rem 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 2px solid #258989;
    border-radius: 5px;
    height: 2.5rem;
    width: 100%;
    color: white;
    background-color: #258989;
    cursor: pointer;
}

.btn_ville:hover {
    border: 2px solid #258989;
    color: #258989;
    background-color: white;
    cursor: pointer;
}

.btn_ville:active {
    border: 2px solid #258989;
    color: white;
    background-color: #258989;
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

#alert {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #2589892f;
    height: 2rem;
    border-radius: 5px;
}

.img_vignette {
    border-radius: 5px;
}