#header {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #258989;
	height: 7rem;
	background-color: #F2F2F2;
}

#header_logo {
	width: 25rem;
	margin-top: 2rem;
	margin-left: 3rem;
	cursor: pointer;
}

#BTN_global {
	display: flex;
	margin-top: 1.3rem;
	width: 28rem;
	margin-right: 5rem;
}

#BTN_accueil {
	border: 1px solid #258989;
	width: 50%;
	display: flex;
	align-items: center;
	color: #258989;
	justify-content: center;
	border-bottom: none;
	border-radius: 10px 10px 0 0;
}

#BTN_accueil:hover {
	background-color: #30B1B1;
	color: white;
	cursor: pointer;
}

#ACCUEIL {
	font-size: 1.5rem;
	margin-left: 0.3rem;
	margin-bottom: 1.5rem;
	font-weight: bold;
}

.dropdown {
	border: 1px solid #258989;
	width: 50%;
	border-bottom: none;
	border-radius: 10px 10px 0 0;
	cursor: pointer;
	background-color: #258989;
}

#BTN_ville {
	display: flex;
	align-items: center;
	margin: 0.5rem;
	justify-content: center;
}

.VILLES {
	font-size: 1.5rem;
	color: white;
	margin-left: 0.3rem;
	margin-bottom: 1.5rem;
	font-weight: bold;
}

.dropdown-content-block {
	display: block !important;
}

@keyframes easeIn{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.dropdown_white {
	border-top: 2px solid #258989;
	border-left: 1px solid #258989;
	border-right: 2px solid #258989;
	border-bottom: none;
	background-color: rgba(255, 255, 255, 0.678) !important;
}

.VILLES_blue {
	color: #258989 !important;
}

.svg_ville {
	fill: white;
}

.svg_ville_blue {
	fill: #258989 !important;
}

/* //////////////////////////// */

  
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	width: 100%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	color: #258989;
	padding: 12px 16px;
	text-decoration: none;
	display: flex;
	height: 2rem;
	font-weight: bold;
	align-items: center;
	justify-content: center;
  }
  
  .dropdown-content a:hover {
	  background-color: #258989;
	  color: white;	  
}
  
@media screen and (max-width: 1000px) {
    #header_logo {
        display: none;
    }

	#BTN_global {
		margin-right: 0;
	}

	#header {
		justify-content: center;
	}
}