$backgroundColor : #f2f2f2;
$darkerBack : #ededed;
$mainColor : #258989;
$white :white;
$notQuiteBlack :#353535;


.headerFaq {
    display: flex;
	justify-content: space-between;
	border: none;
	height: 15%;
	background-color: #F2F2F2;
}

.logoHeader{
    width: 20rem;
	margin-top: 2rem;
	cursor: pointer; 
}



h1 {
    align-self: center;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.btnRetour {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    width: 8rem;
    height: 2.5rem;
    background-color: $mainColor;
    border-radius: 0.3rem;
    border: 0;
    color: $white;
    padding: 0.5rem;
    text-transform: uppercase;
    

}

.btnRetour a {
    text-decoration: none;
    color: $white;

}
