body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    width: 70%;
    display: flex;
    margin: auto;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.titre_inscription {
    text-align: center;
}

#ville_alert,
#statut_alert,
#siret_alert,
#terminal_alert,
#systeme_alert,
#logiciel_outil_alert {
    font-size: 1rem;
    text-align: center;
    width: 80%;
    border: none;
    background-color: #25898952;
    margin: auto auto 1rem auto;
    height: 2rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

#choix_ville {
    border: 1px solid #258989;
    background: none;
    border-radius: 5px;
    height: 2rem;
    width: 10rem;
}

.option_ville {
    color: white;
    background-color: #258989;
}

#article_ville {
    border: 1px solid black;
    border-radius: 5px;
    padding: 30px 8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.choix {
    /* border: 1px solid black;
    border-radius: 5px; */
    padding: 5px;
    height: 100%
}

.ville {
    /* border: 1px solid black;
    border-radius: 5px; */
    padding: 5px;
    height: 100%;
}

.BTN_delete {
    border: none;
    background: none;
    cursor: pointer;
}

#BTN_ajouter_ville {
    cursor: pointer;
}

#statut_global,
#terminal_global,
#systeme_global,
#logiciel_outil_global {
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    padding: 30px 8rem;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#statut_droit {
    width: 45%;
}

#statut_form,
#terminal_form,
#systeme_form,
#logiciel_outil_form {
    width: 50%;
}

#BTN_ajouter_ville {
    margin-top: 5px;
    border: 1px solid #258989;
    background: #2589893b;
    padding: 5px;
    height: 2rem;
    width: 5rem;
    border-radius: 5px;
    cursor: pointer;
}

#BTN_ajouter_ville:hover {
    margin-top: 5px;
    border: 1px solid #258989;
    background: #2589893b;
    padding: 5px;
    height: 2rem;
    width: 5rem;
    border-radius: 5px;
    cursor: pointer;
}

#BTN_statut,
#creer_statut_btn,
#supprimer_statut_btn,
#BTN_siret,
#BTN_confirmation_terminal,
#creer_terminal_btn,
#supprimer_terminal_btn,
#creer_systeme_btn,
#supprimer_systeme_btn,
#BTN_confirmation_systeme,
#creer_logiciel_outil_btn,
#supprimer_logiciel_outil_btn,
#BTN_confirmation_logiciel_outil {
    margin-top: 5px;
    border: 1px solid #258989;
    background: #2589893b;
    padding: 5px;
    height: 2rem;
    width: 10rem;
    border-radius: 5px;
    cursor: pointer;
}

#BTN_statut:hover,
#creer_statut_btn:hover,
#supprimer_statut_btn:hover,
#BTN_siret:hover,
#BTN_confirmation_terminal:hover,
#creer_terminal_btn:hover,
#supprimer_terminal_btn:hover,
#creer_systeme_btn:hover,
#supprime_systeme_btn:hover,
#BTN_confirmation_systeme:hover,
#supprime_logiciel_outil_btn:hover,
#BTN_confirmation_logiciel_outil:hover {
    background: #258989;
    color: white;
}

#creer_statut_input,
#supprimer_statut_input,
#statut_siret,
#creer_terminal_input,
#supprimer_terminal_input,
#supprimer_systeme_input,
#creer_systeme_input,
#supprimer_logiciel_outil_input,
#creer_logiciel_outil_input {
    height: 1.5rem;
    border-radius: 5px;
    border: 1px solid #258989;
}

.statut_checkbox label,
.statut_checkbox input,
.terminal_checkbox label,
.terminal_checkbox input,
.systeme_checkbox label,
.systeme_checkboex input,
.logiciel_outil_checkbox label,
.logiciel_outil_checkbox input {
    cursor: pointer;
}


/* .titre_inscription {} */

#siret_form {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    border: 1px solid black;
    padding: 30px;
    margin: 20px 0;
    border-radius: 5px;
}

#creer_statut_form,
#creer_logiciel_outil_form {
    margin-bottom: 30px;
}

.option_statut,
.terminal_checkbox,
.systeme_checkbox,
.logiciel_outil_checkbox {
    margin: 0.5rem 0;
}

.statut_checkbox input,
.terminal_checkbox input {
    margin-right: 0.3rem;
}


/* 
#terminal_global {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#terminal {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

#terminal article {
    margin: 5px 1rem;
} */

h4 {
    text-align: center;
}