body {
    background-color: #25898905;
}

h1 {
    color: #258989;
    text-align: center;
}

#CTN_inscription_choix {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#CTN {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

P,
label {
    text-align: center
}

#titre_inscription_choix {
    font-size: 1.5rem;
}

.bloc {
    box-shadow: 0 0 4px black;
    border-radius: 5px;
    padding: 0;
    margin: 0;
}

.bloc>img {
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.bloc>p {
    font-weight: 400;
}

.jpg_inscription {
    display: block;
    width: 14rem;
    height: 13rem;
}

#line_choix {
    border-left: solid 2px #258989;
    border-radius: 8px;
    margin-left: 60px;
    margin-right: 60px;
}

.bloc:hover {
    box-shadow: 0 0 12px #258989;
    background-color: #258989;
    color: white;
    cursor: pointer;
}

.bloc:active {
    background-color: #258989;
}

.p_bloc {
    font-size: 1.3rem;
    font-weight: bolder!important;
}

.blocTOUT {
    display: flex;
    justify-content: center;
}

.nom {
    margin-top: 20px;
}

.blocGauche {
    width: 26rem;
}

#DIV_description_profil {
    margin-top: 1rem;
    font-size: 1rem;
    color: #258989;
    display: flex;
    justify-content: center!important;
    text-align: center;
}

#description_profil {
    width: 42rem;
}

.formInputTel {
    width: 12rem;
    border: 1px solid #258989;
    height: 1.5rem;
    border-radius: 5px;
}

.messageInput {
    width: 100%;
    margin-top: 0.5rem;
    resize: none;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 1rem;
}

.verticaleLigne {
    border-left: 1px solid #258989;
    display: inline-block;
    height: 40rem;
    margin: 5rem 2rem 0rem 2.4rem;
}

.BTNdonnees {
    width: 100%;
    background-color: white;
    color: #258989;
    border: 1px solid #258989;
    height: 2.5rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    justify-content: center;
}

.BTNdonnees:hover {
    cursor: pointer;
    background-color: #258989;
    color: white;
    transition: 0.1s;
}

.BTNinscriptionForm {
    color: white;
    background: #258989;
    font-size: 1.2rem;
    text-align: center;
    width: 45%;
    margin: auto;
    border: 1px solid #258989;
    height: 2.5rem;
    border-radius: 5px;
}

.BTNinscriptionForm:hover {
    color: #258989;
    background: #FFFFFF;
    transition: 0.13s;
    border: 1px solid #258989;
    cursor: pointer;
}

#blocTitreGauche,
#blocTitreDroit {
    color: white;
    background-color: #258989;
    border-radius: 5px;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

#blocTitreDroit {
    margin-bottom: 2.4rem;
}

.CTN_flex,
.CTN_flex_ed {
    display: flex;
    justify-content: center;
}

.CTN_flex_diginaute {
    display: flex;
    justify-content: center;
}

.CTN_flex_slider {
    display: flex;
    justify-content: center;
    width: 100%;
}

.formFlex_left {
    display: flex;
    flex-direction: column;
    margin-right: 3.6rem;
}

.formFlex_right {
    display: flex;
    flex-direction: column;
}

.formInput,
.formInput_ed {
    border: 1px solid #258989;
    height: 3rem;
    border-radius: 5px;
    width: 19rem;
    text-align: left;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
    padding-left: 3rem;
    padding-right: 2rem;
}

.input_slider {
    box-sizing: border-box;
    padding-left: 2.5rem;
    padding-right: 2rem;
}

.form_center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.svg_inscription {
    position: absolute;
    width: 1.4rem;
    margin-left: 0.5rem;
    margin-top: 0.75rem;
}

.show_password {
    position: absolute;
    width: 1.8rem;
    margin-left: 19.75rem;
    margin-top: 2px;
    border: solid 1px transparent;
    border-radius: 14px;
}

.show_password:hover {
    cursor: pointer;
}

.p_slider {
    position: absolute;
    margin-top: 0.5rem;
}

.slider {
    -webkit-appearance: none;
    width: auto;
    margin-top: 0.9rem;
    margin-left: 7.5rem;
    background: #d3d3d3;
    height: 0.5rem;
    cursor: pointer;
    outline: none;
}

.slider::-webkit-slider-thumb {
    background: #258989;
    height: 20rem;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    background: #258989;
    cursor: pointer;
}

.BTN_accompagnement_diginaute {
    margin-top: 8px !important;
    margin-bottom: 1.25%;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 2.5rem;
    display: inline-block;
    width: 42rem;
    border: solid 1px #258989;
    border-radius: 5px;
    text-align: center !important;
    font-size: 1rem;
    text-decoration: none;
    font-weight: normal;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

.BTN_statut {
    width: 19rem;
    margin-top: 0.5rem!important;
    margin-bottom: 1.25%;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 2.5rem;
    display: inline-block;
    border: solid 1px #258989;
    border-radius: 5px;
    text-align: center!important;
    font-size: 1rem;
    text-decoration: none;
    font-weight: normal;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

.BTN_public {
    width: 19rem;
    margin-top: 0.5rem!important;
    margin-bottom: 1.25%;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 2.5rem;
    display: inline-block;
    border: solid 1px #258989;
    border-radius: 5px;
    text-align: center!important;
    font-size: 1rem;
    text-decoration: none;
    font-weight: normal;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

.BTN_statut:hover,
.BTN_accompagnement_diginaute:hover,
.BTN_public:hover {
    cursor: pointer!important;
    background-color: #258989!important;
    color: white!important;
}

#BTN_statut_3 {
    cursor: pointer;
    background-color: white;
    color: black;
}

#BTN_statut_3:hover {
    cursor: pointer;
    background-color: #258989!important;
    color: white!important;
}

#svg_statut_3 {
    position: absolute;
    margin-top: -2rem;
    margin-left: 9rem;
}

#DIV_siret {
    margin-top: 1rem;
}

.messageInput {
    height: 10rem;
    margin-top: 0.5rem;
    resize: none;
    border: solid 1px #258989;
    border-radius: 5px;
    text-align: justify;
    padding-top: 0.5rem;
}

.titre_inscription {
    font-style: italic;
}

#arrow_diginaute {
    width: 2.25rem;
    height: 2.25rem;
    margin-top: 13.5rem;
    margin-left: 5.85rem;
    transition: 0.3s;
}

@media screen and (max-width: 980px) {
    #CTN {
        width: 95%;
        display: block;
    }
    .formInput {
        width: 16rem;
        font-size: 1rem;
    }
    #arrow_diginaute {
        display: none;
    }
    .jpg_inscription {
        display: block;
        width: 12rem;
        height: 11rem;
    }
    #line_choix {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .svg_inscription {
        width: 0.75rem;
        margin-left: 1.2rem;
        margin-top: 1.1rem;
    }
    .show_password {
        width: 1.5rem;
        margin-left: 16.75rem;
        margin-top: 0.25rem;
    }
    .formFlex_left {
        display: flex;
        flex-direction: column;
        margin-right: 1rem;
    }
    #description_profil {
        width: 95%;
    }
}

@media screen and (max-width: 680px) {
    #CTN {
        width: 95%;
        display: block;
    }
    .formInput {
        width: 16rem;
        font-size: 0.9rem;
    }
    .formInput_ed {
        width: 10rem;
        font-size: 0.9rem;
    }
    #arrow_diginaute {
        display: none;
    }
    .jpg_inscription {
        display: block;
        width: 6rem;
        height: 6rem;
    }
    .CTN_flex {
        justify-content: space-around;
    }
    #line_choix {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .CTN_flex_diginaute {
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }
    .CTN_flex_ed {
        flex-direction: column;
        align-items: center;
    }
    .svg_inscription {
        width: 0.75rem;
        margin-left: 1.2rem;
        margin-top: 1.1rem;
    }
    .show_password {
        width: 1.5rem;
        margin-left: 16.25rem;
        margin-top: 0.25rem;
    }
    .CTN_flex_slider {
        display: flex;
        width: 95%;
    }
    .input_slider {
        padding-left: 1.5rem;
    }
    .slider {
        width: 6rem;
        margin-left: 2.5rem;
    }
    .p_slider {
        margin-top: -0.5rem;
        font-size: 0.75rem;
        margin-left: 0.5rem;
    }
    .formFlex_left {
        display: flex;
        flex-direction: column;
        margin-right: 0rem;
    }
    #description_profil {
        width: 95%;
    }
    .BTN_accompagnement_diginaute {
        width: 17rem;
        font-size: 0.9rem;
    }
    .BTN_public {
        width: 17rem;
        font-size: 0.9rem;
    }
    .BTN_statut {
        width: 17rem;
        font-size: 0.9rem;
    }
    #DIV_siret {
        margin-left: 0.5rem;
    }
    #svg_statut_3 {
        margin-left: 8rem;
    }
    .messageInput {
        width: 98%;
    }
    .titre_inscription {
        font-size: 1rem;
    }
}

#premiere_OK {
    display: none;
}


/* #deuxieme_partie,
#troisieme_partie,
#quatrieme_partie {
    display: none;
} */

.BTN_next {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #258989;
    color: white;
    margin: auto;
    width: 19rem;
    height: 3rem;
    border-radius: 5px;
    border: 1px solid #258989;
}

.BTN_next:hover {
    border: 1px solid #258989;
    background: white;
    color: #258989;
    cursor: pointer;
}

.BTN_next:active {
    background: #258989;
    color: white;
    border: 1px solid #258989;
}