#alerte-box {
    font-size: 1rem;
    text-align: center;
    width: 80%;
    border: none;
    background-color: #d69595;
    margin: auto;
    height: 2rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}