body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    width: 70rem;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 33rem;
    border-radius: 5px;
    flex-grow: 1;
}

h2 {
    color: #258989;
}

.swal-modal {
    width: 80%;
}

hr {
    width: 8rem;
    margin-bottom: 1.5rem;
}

.mail {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 17.5rem;
    margin: auto;
}

.mail1Input, .mail2Input, .MDPinput {
    height: 2rem;
    border: 1px solid #C4C4C4;
}

.mainBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    
}

.txtBlock {
    width: 35rem;
}

.blockDroit {
    align-items: center;
    display: flex;
    height: 100%;
}

.picture {
    height: 100%;
    width: 35rem;
}

.picture_IMG {
    width: 35rem;
    height: 100%;
    border-radius:4px 0px 0px 4px;
}

.formBlockGauche {
    display: flex;
    flex-direction: column;
}

.BTNmdpOublie:hover {
    cursor: pointer;
    background-color: #258989;
    color: white;
    transition: 0.2s;
}

.BTNmdpOublie:hover {
    cursor: pointer;
    background-color: #258989;
    color: white;
    transition: 0.2s;
}

.BTNmdpOublie {
    border: solid 1px #258989;
    background-color: white;
    color: #258989;
    border-radius: 4px;
    width: 8rem;
    height: 2rem;
    font-size: 1rem;
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
}

.checkBox {
    margin: 2rem auto auto auto;
    font-size: 0.8rem;
    width: 80%;
}
.dialogueCheckFalse {
    background-color: rgb(240, 11, 11);
    color: white;
}

.dialogueCheckTrue {
    background-color: rgb(109, 184, 74);
    color: white;
}
.dialogueCheckError {
    background-color: rgb(231, 106, 4);
    color: rgb(143, 142, 142);
}

.titreDroit {
    margin-top: 0;
}

.formInput {
    padding-left: 3.5rem;
}

.logomail1, .logomail2{
    position: absolute;
    width: 1.6rem;
    margin-top: 0.3rem;
    margin-left: 0.75rem;
}

.logomail2 {
    margin-top: 2.6rem;
}

.blockDroit {
    position: relative;
    right: 0;
}

section .dialogueCheckFalse,
section .dialogueCheckTrue,
section .dialogueCheckError {
    position: absolute;
    top: 0;
    right: 0;
    height: 2.5rem;
    position: absolute;
    text-align: center;
    display: none;
    width: 35rem;
    border-radius: 0px 4px 0px 0px;
    align-items: center;
    justify-content: center;
}


#accord_pas_ok,
#champs_vide,
#champs_differents,
#nombre_carac_8,
#erreur_id_token,
#no_match,
#erreur_creation {
    border: 2px solid #258989;
    height: 3rem;
    border-radius: 5px;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #e2a9a9;
}

#accord_pas_ok:target,
#champs_vide:target,
#champs_differents:target,
#nombre_carac_8:target,
#erreur_id_token:target,
#no_match:target,
#erreur_creation:target {
    display: flex;
}

@media screen and (max-width: 1130px) {
    .picture_IMG, .picture {
        display: none;
    }


    main {
        width: 90%;
        height: 50%;
        display: flex;
        justify-content: center;
    }

    .mainBlock {
        flex-direction: column-reverse;
        display: flex;
        width: 20rem;
        align-items: center;
    }

    .txtBlock {
        margin: 3.5rem 2rem 2rem 2rem;
        width: 20rem;
    }

    .formBlocGauche {
        width: 20rem;
        margin: auto;
    }

    .dialogueCheckFalse,
    .dialogueCheckTrue,
    .dialogueCheckError {
        position: absolute;
        top: 0;
        right: 0;
        height: 2rem;
        position: absolute;
        text-align: center;
        display: none;
        width: 20rem;
        border-radius: 0px 4px 0px 0px;
        align-items: center;
        justify-content: center;
}

}