$background: #E7E7E7;
$color: #258989;


body{
    background-color: $background;
    color: $color;
    text-align: center;
}

#mentionslegals{
    width: 70%;
    margin-left: 15%;
    text-align: left;
    
    h2{
        margin-top: 4rem;
    }
}