body {
  background-color: #E7E7E7;
  color: #258989;
  text-align: center;
}

#mentionslegals {
  width: 70%;
  margin-left: 15%;
  text-align: left;
}
#mentionslegals h2 {
  margin-top: 4rem;
}/*# sourceMappingURL=mentionslegals.css.map */