main {
    width: 75%;
    margin: auto;
    font-size: 1.2rem;
}

h1 {
    margin-top: 8rem;
    text-align: center;
    color: #258989;
}

p {
    margin-bottom: 2rem;
}

.hrMid {
    margin: 2rem auto 4rem auto;
    width: 70%;
}

.hrSous {
    margin: 2rem auto 2rem auto;
    width: 100%;
}

.titreSpan {
    font-size: 1.5rem;
    color: #258989;
    font-weight: bold;
}

.gras {
    font-weight: bold;
}

.titreArticle {
    margin-top: 4rem;
}