body {
  background-color: #E7E7E7;
  color: #258989;
}

h1 {
  text-align: center;
  margin: 4rem;
}

#poldeconf {
  width: 80%;
  margin-left: 10%;
}
#poldeconf ul > li {
  margin: 0.5rem;
}/*# sourceMappingURL=poldeconf.css.map */