$background: #E7E7E7;
$color: #258989;

body{
    background-color: $background;
    color: $color;
}

h1{
    text-align: center;
    margin: 4rem;
}

#poldeconf{
    width: 80%;
    margin-left: 10%;

    ul > li{
        margin: .5rem;
    }
}