body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    width: 70%;
    display: hidden;
    margin: auto;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.titre_inscription {
    text-align: center;
}

#specialite_alert,
#ville_alert,
#contrat_alert,
#infrastructure_alert,
#statut_alert,
#siret_alert,
#materiel_alert,
#demarche_alert,
#image_jv_alert,
#logiciel_systeme_alert,
#alert_info_perso {
    font-size: 1rem;
    text-align: center;
    width: 80%;
    border: none;
    background-color: #25898952;
    margin: auto auto 1rem auto;
    height: 2rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

#choix_ville {
    border: 1px solid #258989;
    background: none;
    border-radius: 5px;
    height: 2rem;
    width: 10rem;
}

.option_ville {
    color: white;
    background-color: #258989;
}

#article_ville {
    border: 1px solid black;
    border-radius: 5px;
    padding: 30px 8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.choix {
    /* border: 1px solid black;
    border-radius: 5px; */
    padding: 5px;
    height: 100%
}

.ville {
    /* border: 1px solid black;
    border-radius: 5px; */
    padding: 5px;
    height: 100%;
}

.BTN_delete {
    border: none;
    background: none;
    cursor: pointer;
}

#statut_global,
#materiel_global,
#demarche_global,
#infrastructure_global,
#image_jv_global,
#logiciel_systeme_global {
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    padding: 30px 8rem;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#statut_droit {
    width: 45%;
}

#statut_form,
#materiel_form,
#demarche_form,
#infrastructure_form,
#image_jv_form,
#logiciel_systeme_form {
    width: 50%;
}

#BTN_ajouter_ville {
    margin-top: 5px;
    border: 1px solid #258989;
    background: #258989;
    padding: 5px;
    height: 2rem;
    color: white;
    width: 5rem;
    border-radius: 5px;
    cursor: pointer;
}

#BTN_ajouter_ville:hover {
    margin-top: 5px;
    border: 1px solid #258989;
    background: white;
    padding: 5px;
    color: #258989;
    height: 2rem;
    width: 5rem;
    border-radius: 5px;
    cursor: pointer;
}

#suspendre_compte_btn,
#changing_fiche_btn,
#disabled_fiche_btn,
#delete_compte_btn, 
#renvoi_mail {
    width: 10rem;
    height: 2rem;
    margin: 0 0.5rem
}

#creer_statut_input,
#supprimer_statut_input,
#statut_siret,
#creer_materiel_input,
#supprimer_materiel_input,
#supprimer_demarche_input,
#supprimer_infrastructure_input,
#supprimer_image_jv_input,
#creer_demarche_input,
#creer_infrastructure_input,
#creer_image_jv_input,
#supprimer_logiciel_systeme_input,
#creer_logiciel_systeme_input,
#input_update_nom,
#input_update_prenom,
#input_update_adresse_mail,
#input_update_telephone {
    height: 1.5rem;
    padding-left: 1rem;
    border-radius: 5px;
    border: 1px solid #258989;
}

.statut_checkbox label,
.statut_checkbox input,
.materiel_checkbox label,
.materiel_checkbox input,
.demarche_checkbox label,
.infrastructure_checkbox label,
.image_jv_checkbox label,
.demarche_checkbox input,
.infrastructure_checkbox input,
.image_jv_checkbox input,
.logiciel_systeme_checkbox label,
.logiciel_systeme_checkbox input {
    cursor: pointer;
}


/* .titre_inscription {} */

#siret_form {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    border: 1px solid black;
    padding: 30px;
    margin: 20px 0;
    border-radius: 5px;
}

#creer_statut_form,
#creer_logiciel_systeme_form {
    margin-bottom: 30px;
}

.option_statut,
.materiel_checkbox,
.demarche_checkbox,
.infrastructure_checkbox,
.image_jv_checkbox,
.logiciel_systeme_checkbox {
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
}

.statut_checkbox input,
.materiel_checkbox input {
    margin-right: 0.3rem;
}


/* 
#materiel_global {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#materiel {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

#materiel article {
    margin: 5px 1rem;
} */

h4 {
    text-align: center;
}

.form_column {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.form_row {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
}

#info_perso {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

#head_global {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    width: 143%;
    background-color: #25898938;
}

#photo_profil_ed {
    width: 10%;
}

#head_top {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem 0 1rem 0;
}

#head_bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.BTN_head {
    margin-top: 5px;
    border: 1px solid #258989;
    background: #258989;
    padding: 5px;
    height: 2rem;
    color: white;
    width: 10rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 1.2rem;
}

.BTN_head:hover {
    background: #ffffff;
    color: #258989;
}

#photo_profil_ed {
    border-radius: 50%;
}

#alert_diverses {
    text-align: center;
    border: 2px solid rgb(184, 40, 40);
    width: 96%;
    border-radius: 5px;
    padding: 1rem;
}

#alert_diverses_title {
    color: rgb(184, 40, 40);
    font-weight: bold;
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

#warning_delete_account {
    border: 5px solid rgb(184, 40, 40);
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 35%;
    height: 20rem;
    padding-bottom: 2rem;
    background-color: #d8d8d8;
}

#warning_delete_account_title {
    color: rgb(184, 40, 40);
    font-weight: bold;
    text-decoration: underline;
}

#warning_details {
    font-weight: bold;
}

#delete_compte_btn_checked {
    margin-top: 5px;
    border: 1px solid #258989;
    background: #ffffff;
    padding: 5px;
    height: 2rem;
    color: #258989;
    width: 10rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 1.2rem;
}

#delete_compte_btn_checked:hover {
    background: rgb(184, 40, 40);
    border: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2rem;
    width: auto;
    height: auto;
}

#buttons_warning_delete {
    margin-top: 2rem;
    display: flex;
}

#form_upload_pp {
    border: 2px solid #258989;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    padding-left: 1rem;
    margin: 5rem 0;
}

#form_upload_contrat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #258989;
    margin-bottom: 0.5rem;
}

td {
    border: 1px solid #258989;
    padding: 0.4rem 1rem;
    text-align: center;
}

#trth {
    border: 1px solid black;
}

#deuxieme_partie,
.titre_inscription,
h4 {
    margin-top: 3rem;
}

#commentaire {
    width: 100%;
}

#commentaire_block {
    width: 100%;
}

.commentaire_section {
    width: 98%;
    word-wrap: break-word;
    height: 10rem;
}

#input_commentaire {
    width: 100%;
    height: 80%;
    resize: none;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 1rem;
    border: 0.3px solid #258989;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

#updateok,
#infomanquantes {
    display: none;
}

#updateok:target,
#infomanquantes:target {
    font-size: 1rem;
    text-align: center;
    width: 80%;
    border: none;
    background-color: #25898952;
    margin: auto auto 1rem auto;
    height: 2rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statut_checkbox { 
    display: flex;
    align-items: center;
}

.statut_checkbox label {
    margin-left: 0.3rem;
}

#compteur {
    border: 2px solid #258989;
    width: 5rem;
    background-color: #25898913;
    /* 1er : #fecccc // 2eme : #f99 // 3eme : #f66 */
    height: 5rem;
    border-radius: 50%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#compteur_specialite {
    position: fixed;
    top: 7rem;
    right: 2.5rem;
}

#titre_compteur {
    margin: 0;
}

#specialite_section {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.specialite_individuel {
    width: 33%;
    display: flex;
    background-color: #2589891e;
    border-radius: 5px;
    margin: 0.5rem 2rem;
    padding: 0 0.5rem;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
}

#demarche_specialite {
    width: 70%;
}

.titre_specialite {
    margin-top: 1rem;
}

.btn {
    width: 8rem;
    height: 1.7rem;
    background-color: #258989;
    border: 1px solid #258989;
    border-radius: 5px;
    color: white;
    margin: 1rem 0;
    cursor: pointer;
}

.btn:hover {
    background-color: white;
    color: #258989;
    
}