@media (min-width: 800px) {
  body {
    background-color: white !important;
    color: #258989;
  }

  main {
    display: flex;
    justify-content: space-evenly;
    max-width: 100vw;
  }

  #equipeEd {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%;
  }
  #equipeEd article {
    width: 100%;
    border-right: solid 1px #258989;
  }
  #equipeEd article img {
    height: 8rem;
    border-radius: 100%;
  }

  #projetEd {
    width: 55%;
    height: 100%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
  }
  #projetEd p {
    color: black;
    margin-top: 2rem;
    line-height: 2.5rem;
  }
}
@media (min-width: 500px) and (max-width: 800px) {
  body {
    background-color: #E7E7E7;
    color: #258989;
  }

  main {
    display: grid;
    place-items: center;
    max-width: 100%;
  }

  h1, h2 {
    color: #258989;
    padding: 2rem;
    width: 90%;
    text-align: center;
    margin: 0;
  }

  #ligne {
    width: 60vw;
  }

  #equipeEd {
    text-align: center;
    display: flex;
    width: 100%;
  }
  #equipeEd article {
    width: 70%;
    margin-top: 2rem;
    display: grid;
    place-items: center;
  }
  #equipeEd article p {
    width: 70%;
  }
  #equipeEd article img {
    height: 10rem;
    border-radius: 100%;
  }

  #projetEd {
    text-align: center;
    display: grid;
    place-items: center;
    width: 100%;
  }
  #projetEd article {
    width: 70%;
  }
}
@media (max-width: 500px) {
  body {
    background-color: #E7E7E7;
    color: #258989;
  }

  main {
    display: grid;
    place-items: center;
    max-width: 100%;
  }

  h1, h2 {
    color: #258989;
    margin: 1rem;
    font-size: larger;
  }

  #ligne {
    width: 60vw;
  }

  #equipeEd {
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  #equipeEd article {
    margin-top: 2rem;
    display: grid;
    place-items: center;
  }
  #equipeEd article p {
    width: 70%;
  }
  #equipeEd article img {
    height: 7rem;
    border-radius: 100%;
  }

  #projetEd {
    text-align: center;
    display: grid;
    place-items: center;
    padding-top: 2rem;
  }
  #projetEd p {
    padding: 1rem;
    margin-top: 0;
  }
}/*# sourceMappingURL=quisommesnous.css.map */