@media screen and (min-width: 648px) {
    body {
        margin: auto;
        width: 100%;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif !important;
        background-color: #F2F2F2 !important;
    }

    textarea{
        font-family: 'Open Sans', sans-serif !important;
    }

    #popup_cookie {
        text-align: justify;
        z-index: 3;
        height: auto;
        border-top: 5px solid #258989;
        position: fixed;
        background-color: #F8F8F8;
        width: 100%;
        bottom: 0;
    }

    #contenu_1 {
        color: rgb(53,53,53);
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    #contenu_2 {
        display: flex;
        color: rgb(53,53,53);
        justify-content: space-around;
        flex-direction: column;
        padding: 0 3rem;
    }

    .points_cookie {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    .point_point {
        width: 100%;
    }

    .necessaire {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #titre_popup {
        margin: 1rem 1rem 1rem 3rem;
        font-size: 2rem;
    }

    #p_1 {
        margin: 0 3rem;
        display: flex;
        align-items: center;
        line-height: 2rem;
        font-size: 1.2rem;
    }

    #blur {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1;
        height: 100%;
        backdrop-filter: blur(2px);
        background-color: rgba(0, 0, 0, 0.377);

    }

    #buttons_1 {
        display: flex;
        margin: 2rem 3rem 2rem 3rem;
        justify-content: center;
        align-items: center;
    }

    #buttons_2 {
        display: flex;
        margin: 0 3rem 2rem 3rem;
        justify-content: center;
        align-items: center;
    }

    #btn_switch {
        border: 4px solid #258989;
        border-radius: 5px;
        background-color: white;
        color: #258989;
        width: 15rem;
        height: 3.5rem;
        font-weight: 700;
        font-size: 1rem;
    }

    #btn_accepter {
        margin: 0 0 0 8rem;
        border: 4px solid #258989;
        border-radius: 5px;
        background-color: #258989;
        color: white;
        width: 15rem;
        height: 3.5rem;
        font-weight: 700;
        font-size: 1rem;
    }

    #btn_switch:hover {
        cursor: pointer;
        background-color: #258989;
        color: white;
        transition: 0.2s;
    }

    #btn_accepter:hover {
        cursor: pointer;
        background-color: white;
        color: #258989;
        transition: 0.2s;
    }

    #btn_accepter:active {
        cursor: pointer;
        background-color: #258989;
        color: white;
        transition: 0.2s;
    }

    #btn_switch:active {
        cursor: pointer;
        background-color: white;
        color: #258989;
        transition: 0.2s;
    }

    #btn_switchey {
        border: 4px solid #258989;
        border-radius: 5px;
        background-color: white;
        color: #258989;
        width: 15rem;
        height: 3.5rem;
        font-weight: 700;
        font-size: 1rem;
    }

    #btn_acceptey {
        margin: 0 0 0 8rem;
        border: 4px solid #258989;
        border-radius: 5px;
        background-color: #258989;
        color: white;
        width: 15rem;
        height: 3.5rem;
        font-weight: 700;
        font-size: 1rem;
    }

    #btn_switchey:hover {
        cursor: pointer;
        background-color: #258989;
        color: white;
        transition: 0.2s;
    }

    #btn_acceptey:hover {
        cursor: pointer;
        background-color: white;
        color: #258989;
        transition: 0.2s;
    }

    #btn_acceptey:active {
        cursor: pointer;
        background-color: #258989;
        color: white;
        transition: 0.2s;
    }

    #btn_switchey:active {
        cursor: pointer;
        background-color: white;
        color: #258989;
        transition: 0.2s;
    }

    #fleche_scroll{
        display: none;
    }
}

@media screen and (max-width: 648px) {
    body {
        margin: auto;
        width: 100%;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif !important;
        background-color: #F2F2F2 !important;
    }
    
    textarea{
        font-family: 'Open Sans', sans-serif !important;
    }
    
    #popup_cookie {
        z-index: 10;
        border-top: 5px solid #258989;
        position: fixed;
        background-color: #F8F8F8;
        width: 100%;
        height: 40vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5fr;
        grid-template-areas: "titre"
                             "contenu";
        bottom: 30%;
        font-size: small;
    }
    
    #contenu_1 {
        color: rgb(53,53,53);
        display: flex;
        flex-direction: column;
        grid-area: contenu;
        height: 80%;
    }
    
    #contenu_2 {
        display: flex;
        color: rgb(53,53,53);
        flex-direction: column;
        grid-area: contenu;
    }

    #point_contenu{
        overflow: scroll;
        height: 8.8rem;
    }
    
    .point_point {
        width: 80%;
        margin: 0;
        height: 12rem;
        padding-inline-start: 40px;
    }
    
    .necessaire {
        display: none;
    }
    
    #titre_popup {
        margin: 1rem 1rem 0 3rem;
        font-size: 1.5rem;
        grid-area: titre;
    }
    
    #p_1 {
        margin: 0 3rem;
        display: flex;
        align-items: center;
        line-height: 1rem;
        height: 12rem;
    }
    
    #blur {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1;
        height: 100%;
        backdrop-filter: blur(2px);
        background-color: rgba(0, 0, 0, 0.377);
    
    }
    
    #buttons_1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #buttons_2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #btn_switch {
        border: 4px solid #258989;
        border-radius: 5px;
        background-color: white;
        color: #258989;
        width: 10rem;
        height: 3rem;
        font-weight: 700;
        font-size: 1rem;
        margin: .5rem;

    }
    
    #btn_accepter {
        border: 4px solid #258989;
        border-radius: 5px;
        background-color: #258989;
        color: white;
        width: 10rem;
        height: 3rem;
        font-weight: 700;
        font-size: 1rem;
        margin: .5rem;
    }
    
    #btn_switch:hover {
        cursor: pointer;
        background-color: #258989;
        color: white;
        transition: 0.2s;
    }
    
    #btn_accepter:hover {
        cursor: pointer;
        background-color: white;
        color: #258989;
        transition: 0.2s;
    }
    
    #btn_accepter:active {
        cursor: pointer;
        background-color: #258989;
        color: white;
        transition: 0.2s;
    }
    
    #btn_switch:active {
        cursor: pointer;
        background-color: white;
        color: #258989;
        transition: 0.2s;
    }
    
    #btn_switchey {
        margin: .5rem;
        border: 4px solid #258989;
        border-radius: 5px;
        background-color: white;
        color: #258989;
        width: 10rem;
        height: 3rem;
        font-weight: 700;
        font-size: 1rem;
    }
    
    #btn_acceptey {
        margin: .5rem;
        border: 4px solid #258989;
        border-radius: 5px;
        background-color: #258989;
        color: white;
        width: 10rem;
        height: 3rem;
        font-weight: 700;
        font-size: 1rem;
    }
    
    #btn_switchey:hover {
        cursor: pointer;
        background-color: #258989;
        color: white;
        transition: 0.2s;
    }
    
    #btn_acceptey:hover {
        cursor: pointer;
        background-color: white;
        color: #258989;
        transition: 0.2s;
    }
    
    #btn_acceptey:active {
        cursor: pointer;
        background-color: #258989;
        color: white;
        transition: 0.2s;
    }
    
    #btn_switchey:active {
        cursor: pointer;
        background-color: white;
        color: #258989;
        transition: 0.2s;
    }
}


/* ARROW */

ody {
    height: 2000px;
    position: relative;
  }
  
  .intro-copy {
    padding: 1em;
    margin: 50vh auto;
    max-width: 15em;
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 2em;
    line-height: 1.2;
    text-align: center;
  }
  
  .top-link {
    transition: all 0.25s ease-in-out;
    z-index: 5;
    position: fixed;
    bottom: 0;
    right: 0;
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin: 0 3em 3em 0;
    border-radius: 50%;
    padding: 0.25em;
    width: 60px;
    height: 60px;
    background-color: #258989;
  }
  .top-link.show {
    visibility: visible;
    opacity: 1;
  }
  .top-link.hide {
    visibility: hidden;
    opacity: 0;
  }
  .top-link svg {
    fill: white;
    width: 24px;
    height: 12px;
  }
  .top-link:hover {
    background-color: white;
  }
  .top-link:hover svg {
    fill: #258989;
  }
  
  .screen-reader-text {
    position: absolute;
    clip-path: inset(50%);
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    word-wrap: normal !important;
    clip: rect(1px, 1px, 1px, 1px);
  }
  .screen-reader-text:focus {
    display: block;
    top: 5px;
    left: 5px;
    z-index: 100000;
    clip-path: none;
    background-color: #eee;
    padding: 15px 23px 14px;
    width: auto;
    height: auto;
    text-decoration: none;
    line-height: normal;
    color: white;
    font-size: 1em;
    clip: auto !important;
  }