
@media(min-width: 1200px){
  #swd-slideshow {
    width: 40vw;
    height: 30vw;
    position: relative;
    overflow: hidden;
    margin: 2rem;
    border-radius: 15%;
  }

  /* slide styles */
  #swd-slideshow > div {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition-property: opacity;
    transition-delay: 100ms;
    transition-duration: 750ms;
  }

  /* arrow styles */
  #swd-slideshow .arrow {
    display: none;
  }
}

@media(min-width: 751px) and (max-width: 1199px){
  #swd-slideshow {
    width: 40vw;
    height: 30vw;
    position: relative;
    overflow: hidden;
    margin: 2rem;
    border-radius: 15%;
  }

  /* slide styles */
  #swd-slideshow > div {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition-property: opacity;
    transition-delay: 100ms;
    transition-duration: 750ms;
  }

  /* arrow styles */
  #swd-slideshow .arrow {
    display: none;
  }
}

@media(max-width: 750px){
  #swd-slideshow {
    width: 60vw;
    height: 50vw;
    position: relative;
    overflow: hidden;
    margin: 2rem;
    border-radius: 15%;
  }

  /* slide styles */
  #swd-slideshow > div {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition-property: opacity;
    transition-delay: 100ms;
    transition-duration: 750ms;
  }

  /* arrow styles */
  #swd-slideshow .arrow {
    display: none;
  }
}